img#element-src{
    height: 70%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img#marker-src{
    height: 35%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img#augmented-src{
    height: 35%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal a {
    color: blue;
}

.modal p{
    font-size: 13px;
    text-align: center;
}

.modal .select-btn {
    font-size: 14px;
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 8px;
    border-color: #4286f4;
    margin-bottom: 5%;
}


@media all and (min-width: 800px) {
    .modal-container {
        height: calc(100vh - 50px);
        position: relative;
        width: 80%;
        max-width: 600px;
        margin: 25px auto;
        /* overflow: scroll; */
    }

    .modal-content {
        padding: 20px;
        width: 560px;
        height: calc(100vh - 140px);
    }

    img#element-src {
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}