.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 100;
}

.modal-container {
    height: 90%;
    width: 80%;
    margin: 10% auto;
}

#modal-title {
    margin: 0;
    line-height: 50px;
    height: 50px;
    color: white;
    text-align: center;
}

.modal-content {
    position: absolute;
    margin-bottom: 10%;
    background-color: white;
    padding: 20px;
    width: calc(80% - 40px);
    height: calc(90% - 90px);
    overflow-y: scroll;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/********* Media Queries ***********/
@media all and (min-width: 800px) {
    .modal-container {
        height: calc(100vh - 50px);
        position: relative;
        width: 80%;
        max-width: 600px;
        margin: 25px auto;
        /* overflow: scroll; */
    }

    .modal-content {
        padding: 20px;
        width: 560px;
        height: calc(100vh - 140px);
    }

    img#element-src {
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}