.userbox {
    margin-bottom: 20px;
    background: #f1f1f1;
    padding: 20px;
}

.countMrk, .countObj, .editProf {
    height: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.countMrk, .countObj {
    font-size: 0.75em;
    line-height: 1.75em;
    padding-left: 27px;
    text-align: left;
    flex-basis: calc(50% - 30px);
}

.countMrk {
    background: url('../images/icons/icoMrk.png') no-repeat center left;
    background-size: contain;
}

.countObj {
    background: url('../images/icons/icoObj.png') no-repeat center left;
    background-size: contain;
}

.bdgArt, .bdgCur {
    text-align: center;
    height: 50px;
    padding-top: 60px;
    line-height: 25px;
    font-size: 0.85em;
    margin-bottom: 0;
}

.bdgArt {
    background: url('../images/icons/bdgArt.png') no-repeat;
    background-position: center top;
    background-size: auto;
}

.bdgCur {
    background: url('../images/icons/bdgCur.png') no-repeat;
    background-position: center top;
    background-size: auto;
}

.bdgArt.empty, .bdgCur.empty {
    background: url('../images/icons/icoEpt.png') no-repeat;
    background-position: center top;
    background-size: auto;
}

.upload, .separator, .createArtwork, .createExhibition {
    height: 40px;
    margin-bottom: 10px;
}

.separator {
    height: 10px;
    background-color: #05f7ae;
}

.upMrk, .upObj {
    background-color: #f1f1f1;
    font-size: 0.85em; 
    flex-basis: calc(50% - 5px);
    margin: auto 0;
}

.upMrk a.option-link {
    background: url(../images/icons/icoMrk.png) no-repeat;
}

.upObj a.option-link {
    background: url(../images/icons/icoObj.png) no-repeat;
}

.upMrk a.option-link,
.upObj a.option-link {
    background-position: 15px center;
    background-size: 20px 20px;
    padding-left: 15px;
}

.createArtwork {
    background-color: #cdf0d8;    
}

.createArtwork a.option-link {
    background: url(../images/icons/icoArt.png) no-repeat;
}

.createExhibition {
    background-color: #eccdf0;
    margin-bottom: 20px; 
}

.createExhibition a.option-link {
    background: url(../images/icons/icoExb.png) no-repeat;
}

.createArtwork a.option-link,
.createExhibition a.option-link {
    background-position: 15px center;
    background-size: 30px 30px;
}

.profile-options-flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile-options-flex .option-link {
    /* margin-bottom: 4%; */
    /* background-color: black; */
    line-height: 40px;
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: center;
    /* text-decoration: none; */
    color: #000;
}

.profile-options-flex .userbox .option-link {
    line-height: 20px;
    font-size: 0.85em;
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #03b595;
    background: #e1e1e1;
}

/*.profile-options-flex .account-options {
    margin-bottom: 4%;
    color: black;
}

.profile-options-flex .account-options a{
    text-decoration: none;
    color: #0000EE;
}

.profile-options-flex > .account-options > a:visited{
    text-decoration: none;
    color: #0000EE;
}*/

/**** Media Queries *****/
@media all and (min-width: 800px) {
    .countMrk, .countObj {
        flex-basis: calc(30% - 20px);
    }

    .countMrk, .countObj, .editProf {
        margin-bottom: 20px;
    }

    .bdgArt, .bdgCur {
        text-align: left;
        height: 50px;
        padding-left: 65px;
        padding-top: 0px;
        line-height: 25px;
        font-size: 0.85em;
        margin-bottom: 0;
        flex-basis: calc(50% - 70px);
    }

    .bdgArt,.bdgCur,.bdgArt.empty, .bdgCur.empty {
        background-position: left center;
        background-size: contain;
    }

    .upload, .createArtwork, .createExhibition {
        height: 150px;
        margin-bottom: 20px;
        flex-basis: calc(33% - 10px)
    }

    .upMrk, .upObj {
        height: 70px;
        flex-basis: 100%;
    }

    .upMrk.sm-half.lg-full {
        margin-bottom: 5px;
    }

    .separator {
        min-height: 150px;
        margin-bottom: 20px;
        max-width: 10px;
    }

    .createArtwork a.option-link, .createExhibition a.option-link {
        background-position: top center;
        background-size: auto;
        padding-top: 60px;
        margin-top: 25px;
    }

    .upMrk a.option-link, .upObj a.option-link {
        margin-top: 15px;
    }

    .profile-options-flex .userbox .option-link {
        text-align: right;
        color: #03b595;
        background: none;
    }
}
