.repository-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
    margin-bottom: 40px;
}

.repository-list > p {
    flex-basis: calc(100% - 120px);
    text-align: left;
    line-height: 40px;
    margin: 0 0 20px 0;
}

.repository-list > a {
    flex-basis: 100px;
    background: #f1f1f1;
    line-height: 40px;
    font-size: 0.75em;
    font-weight: bold;
    margin: 0 0 20px 20px;
}

.repository-item {
    /* increasing percentage reduce number of elements per row */
    flex: 0 1 calc(25% - 10px);
    padding: 20px 0px;
}

.exhibit-list .repository-item, #repo-artwork .repository-item {
    /* increasing percentage reduce number of elements per row */
    flex: 0 1 calc(50% - 10px);
}

.exhibit-list .repository-item {
    background: url(../images/icons/fill.png), #e6e6e6;
    margin-bottom: 20px;
    padding: 0 0 10px 0;
}

.exhibit-list .repository-item a.edit {
    float: right;
    width: 20px;
    height: 20px;
    margin: -25px 20px 0px 0px;
}

a.delete{
    float: left;
    width: 20px;
    height: 20px;
    margin: -25px 20px 0px 0px;
}

h1.exhibit-name {
    margin: 0 0 10px 0;
    padding: 0 15px;
    max-width: calc(100% - 30px);
    max-height: 50px;
    font-size: 0.85em;
    font-weight: bold;
    background: #b019a670;
    color: #5b0058;
    overflow: hidden;
    text-shadow: rgba(255,255,255,0.3) 1px 1px 2px;
    overflow-wrap: initial;
}

h1.exhibit-name:hover {
    background: #b019a650;
    color: #af00a9;
}

p.exhibit-slug, p.exhibit-about, a.edit a.delete{
    font-size: 0.65em;
}

p.by {
    font-size: 0.75em;
}

a.gotoExb {
    background: #f9d7fa;
    color: #000;
    font-size: 0.75em;
    clear: both;
    padding: 5px 10px;
}

p.exhibit-about {
    margin: 15px 0 5px 0;
}
