.upload{
    margin-bottom: 20px;
}

.form-options{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5%;
}

.form-options input{
    width: 20px;
    height: 20px;
}

.tipTrigger:after {
    content: '?';
    height: 20px;
    width: 20px;
    color: #fff;
    background: #444444;
    position: relative;
    display: inline-block;
    left: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

#tip1, #tip2 {
    position: relative;
    background: rgba(0,0,0,0.85);
    color: rgb(255, 255, 255);
    display: none;
    text-align: center;
    padding: 5px 10px;
    left: 160px;
    top: -110px;
}

#tooltipText {
    position: relative;
    background: rgba(0,0,0,0.85);
    color: rgb(255, 255, 255);
    text-align: center;padding: 0px 7px;
    left: 100px;
    top: -30px;
}

.tooltip:hover:before {
  display:block;
}


#scaleTitle:hover + #tip1 {
    display: inline-block;
}

#positionTitle:hover + #tip2 {
    display: inline-block;
}

#content-box {
    height: 50%;
    width: 65%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

video{
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 600px){
    #content-box {
        height: 60%;
        width: 60%;
    }
}


.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px #000; /* little indicater to indicate it's hoverable */
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}


;