
src/ARte/config/__pycache__/
*.pyc

##sqlite
*.sqlite3

build/
static/
media/
src/data/certbot/
docker/node_modules/
node_modules/
package-lock.json
.venv/
## pycharm
.idea


# translations
*.mo
*.po~

*/**/.env
