
src/ARte/config/__pycache__/
*.pyc

##vscode
\.vscode/

##sqlite
*.sqlite3

build/
src/data/certbot/
docker/node_modules/
node_modules/
package-lock.json

## pycharm
.idea

# media files
src/ARte/users/media/
docker/media/
