version: '2'

services:
  nginx:
    image: nginx:1.15-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./data/nginx:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
  
  web:
    build: .
    ports:
      - 8000:8000
    volumes:
      - ./ARte/:/app/
    env_file:
      - ./.envs/.django
      - ./.envs/.postgres
    depends_on:
      - postgres
    command: db -p collect run -p

  postgres:
    image: postgres
    env_file:
      - ./.envs/.postgres
    ports:
      - "5432:5432"
