.header .signup-btn, .header .login-btn {
    background-color: black;
    text-align: center;
    height: 25px;
    line-height: 25px;
    margin: 5px 0 0 5px;
    padding: 0px 8px;
}

.header .login-btn {
    background-color: #03b595;
}

.header .signup-btn a, .header .login-btn a {
    font-weight: bold;
    color: white;
    display: block;
    font-size: 0.75em;
}

.use-guide {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background: url(../images/icons/fill.png), #e6e6e6;
}

.use-guide blockquote:after, .use-guide blockquote:before {
    background: #03b5951a;
}

.use-guide .authorize-camera {
    background-color: black;
    text-align: center;
    max-width: 280px;
    height: 35px;
    margin: auto;
    padding-top: 6%;
}


/* Desktops */
@media(min-width: 800px) {
    .use-guide {
        max-width: 560px;
        margin-bottom: 30px;
    }

    .header .signup-btn, .header .login-btn {
        height: 40px;
        line-height: 40px;
        width: calc(50% - 5px);
        margin: 0;
        margin-left: 10px;
    }

    .header .signup-btn a, .header .login-btn a {
        font-size: 1.35em;
    }
}