.modal.modal {
    border-radius: 0;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 3%;
    padding-top: 0;
}

.modal.modal .repository-item {
    flex: 0 1 calc(20% - 16px);
}

.form-options{
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding-left: 5%;
}

.form-options input{
    width: 15px;
    height: 15px;
}

.gallery-title{
    font-size: 11px;
}

.tab {
    display: none;
}