.modal.modal {
    border-radius: 0;
    width: 100%;
    text-align: center;
    padding: 3%;
}

.form-options{
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding-left: 5%;
}

.form-options input{
    width: 15px;
    height: 15px;
}

.gallery-title{
    font-size: 11px;
}

.tab {
    display: none;
}