.upload{
    margin-bottom: 20px;
}

.form-options{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5%;
}

.form-options input{
    width: 20px;
    height: 20px;
}

#scaleTitle:hover + #tip1 {
    display: inline-block;
}

#positionTitle:hover + #tip2 {
    display: inline-block;
}

#content-box {
    height: 50%;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

video{
    max-width: 100%;
    max-height: 100%;
}

div#imageContainer {
    width: 320px;
    height: 320px;
    margin: auto;
    background: url(../images/icons/icoEptG.png) no-repeat center center;
    background-size: cover;
}

div#imageContainer img {
    width: 100%;
    height: auto;
}

div#shadow-background {
    background-color: #EFEFEF;
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 350px;
    height: 350px;
    display:flex;
    align-items: center;
    margin:auto;
}
@media only screen and (max-width: 600px){
    #content-box {
        height: 60%;
        width: 60%;
    }
}
