/* Put specific styles here */

#search-box {
    width: 90%;
    margin: 0;
}

#search-button {
    width: 10%;
    margin: 0;
}

.search-area {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}