body {
    font-family: arial;
    background-color: #eee;
}

h1 {
    text-align: center;
    font-size: 500%;
}

div.mdl-cell {
    text-align: center;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

#topRightButtons {
    position: fixed;
    top: 1em;
    right: 1em;
}