/*.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {
    background-color: #EFEFEF;
}

a {
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
    text-decoration: none;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.header .container {
    margin-top: 3%;
    height: 100px;
    margin-bottom: 2%;
}

.header .logo{
    max-width: 50%;
}*/

.connect.flex {
    margin-left: 10px;
}

.header .signup-btn, .header .login-btn {
    background-color: black;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: calc(50% - 5px);
}

.header .signup-btn a, .header .login-btn a {
    font-weight: bold;
    color: white;
    display: block;
    font-size: 0.75em;
}

/*.header {
    font-size: 75%;
}

.header .welcome p a {
    color: #0000EE;
}
.header .welcome p a:visited {
    color: #0000EE;
}

.useful-links {
    margin-bottom: 2%;
}*/

.use-guide {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #4F4545;
    margin-bottom: 5%;
    padding-bottom: 5%;
    background-color: #D9D9D9;
}

/*.text-content{
    border: 1px solid #4F4545;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;
    background-color: #ddd;
    max-height: 40vmax;
    overflow: scroll;
}
.text-content .title{
    font-weight: bold;
    font-size: larger;
    margin:0;
}
.text-content .paragraph{
    font-size: small;
    margin:0 0 15px 0;
}
.use-guide h3 {
    padding-top: 15%;
    margin-left: 3%;
}

.use-guide p {
    margin: 3%;
}*/

.use-guide .authorize-camera {
    background-color: black;
    text-align: center;
    max-width: 280px;
    height: 35px;
    margin: auto;
    padding-top: 6%;
}

/*.use-guide a {
    text-decoration: none;
    color: white;
}

.footer {
    min-height: 50px;
}

.footer .container {
    height: 50px;
    text-align: center;
}

.footer a {
    font-size: 75%;
    margin: auto;
}*/

/* Desktops */
@media(min-width: 900px) {

}