{% extends '/core/home.jinja2' %}


{% block content %}
    <section class="create-artwork container">
        {# FIXME: maybe this can be improved #}
        <link rel="stylesheet" href="/static/css/marker-creation.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

        <h1 class="titArt">{{ _('Edit Jandig Artwork') if selected_marker else _('Create Jandig Artwork')}}</h1>
        <button id="select-marker" class="select-btn">
            {{ _('Select Marker') }}
        </button>
        <button id="select-object" class="select-btn">
            {{ _('Select Object') }}
        </button>
        <div id="form-modal" class="modal">
            <form name="creation-form" action="" method="post" enctype="multipart/form-data">
                {{ csrf_input }}
                <div id="marker-modal" class="tab">
                    <h4 class="modal-title">{{ _('Select Marker (1/3)') }}</h4>

                    <p id="existent-marker">
                        {{ form.visible_fields()[4].as_hidden() }}
                        {{ form.visible_fields()[4].errors }}
                    </p>

                    {% with repository_list = marker_list, element_type = 'marker', selected=selected_marker %}
                        {% include "users/components/repository-list.jinja2" %}
                    {% endwith %}

                    <div class="form-options">
                        <p>
                            <input id="marker-agreement-chk" type="checkbox" name="agreement">
                            {{ _("I agree to share this content under CC BY-SA 4.0 and I'm aware that, once uploaded, I cannot remove it. ") }}
                        </p>
                    </div>

                    <button id="next-object" type="button" class="select-btn next-btn" disabled>
                        {{ _('Next') }}
                    </button>
                </div>
                <div id="object-modal" class="tab">
                    <h4 class="modal-title">{{ _('Select Object (2/3)') }}</h4>
                    <p id="existent-object">
                        {{ form.visible_fields()[5].as_hidden() }}
                        {{ form.visible_fields()[5].errors }}
                    </p>

                    {% with repository_list = object_list, element_type = 'object', selected=selected_object%}
                        {% include "users/components/repository-list.jinja2" %}
                    {% endwith%}

                    <div class="form-options">
                        <p>
                            <input id="object-agreement-chk" type="checkbox" name="agreement">
                            {{ _("I agree to share this content under CC BY-SA 4.0 and I'm aware that, once uploaded, I cannot remove it. ") }}
                        </p>
                    </div>
                    <button id="next-desc" type="button" class="select-btn next-btn" disabled="disabled">
                        {{ _('Next') }}
                    </button>
                </div>
                <div id="description-modal" class="tab">
                    <h4 class="modal-title">{{ _('About your artwork (3/3)') }}</h4>
                    <p class="upload-field">
                        {{ form.visible_fields()[6] }}
                        {{ form.visible_fields()[6].errors }}
                    </p>
                    <p class="upload-field">
                        {{ form.visible_fields()[7] }}
                        {{ form.visible_fields()[7].errors }}
                    </p>
                    <input class="select-btn next-btn" type="submit" value="{{ _('Edit Artwork') if selected_object else _('Publish artwork') }}" disabled="disabled" />
                </div>
            </form>
        </div>
        <script>
            function showTab(tabNumber){
                let tabs = $('.tab');
                tabs.hide();
                $('#' + tabs[tabNumber].id).show();
            }

            function checkAgreement(checkbox){
                return checkbox.prop('checked') == true;
            }

            function validateNextButton(condition, button) {
                if(condition){
                    button.prop('disabled', false);
                }else{
                    button.prop('disabled', true);
                }
            } 

            function validateSubmit() {
                let selected_marker = $("#id_existent_marker");
                let selected_object = $("#id_existent_object");
                let unchecked_inputs = $('input[name="agreement"]').not(':checked').length;

                if(unchecked_inputs == 0 && selected_object[0].value && selected_marker[0].value){
                    $('input[type="submit"]').prop('disabled', false);
                }else{
                    $('input[type="submit"]').prop('disabled', true);
                }
            }

            function validateMarkerTab(){
                let selected_marker = $("#id_existent_marker");
                let checkbox = $("#marker-agreement-chk");
                let nextButton = $('#next-object');

                let tabCondition = checkAgreement(checkbox) && selected_marker[0].value > 0;

                validateNextButton(tabCondition, nextButton);
                validateSubmit();
            }

            function validateObjectTab(){
                let checkbox = $("#object-agreement-chk");
                let nextButton = $('#next-desc');
                let selected_object = $("#id_existent_object");

                let tabCondition = checkAgreement(checkbox) && selected_object[0].value > 0;

                validateNextButton(tabCondition, nextButton);
                validateSubmit();
            }

            function validateTabs(){
                validateMarkerTab();
                validateObjectTab();
            }

            $('#select-marker').click(function(){
                $('#form-modal').modal({showClose: false});
                showTab(0);
            })

            $('#select-object').click(function(){
                $('#form-modal').modal({showClose: false})
                showTab(1);
            })

            $('#next-object').click(function(){
                showTab(1);
            })

            $('#next-desc').click(function(){
                showTab(2);
                validateSubmit();
            })

            $('#marker-agreement-chk').click(function(){
                validateMarkerTab();
            });

            $('#object-agreement-chk').click(function(){
                validateObjectTab();
            });

            {% if selected_marker %}
                $('#marker-agreement-chk').prop("checked", true);
                $('input[type="submit"]').prop('disabled', false);
            {% endif %}
            {% if selected_object %}
                $('input[type="submit"]').prop('disabled', false);
                $('#object-agreement-chk').prop("checked", true);
            {% endif %}

            validateTabs();

        </script>
    </section>
{% endblock %}