{% extends '/core/home.jinja2' %}


{% block content %}
    <section class="create-exhibit">
        {# FIXME: maybe this can be improved #}
        <link rel="stylesheet" href="{{ static ('css/marker-creation.css') }}">
        <link rel="stylesheet" href="{{ static ('css/label.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <div class="container">
            <h1 class="titExb">{{ _('Create Jandig Exhibition') }}</h1>
            <button id="select-artworks" class="select-btn">
                {{ _('Select Artworks') }}
            </button>
        </div>
        <div id="form-modal" class="modal">
            <form name="creation-form" action="" method="post" enctype="multipart/form-data">
                {{ csrf_input }}
                <div id="marker-modal" class="tab">
                    <h4 class="modal-title">{{ _('Select Artworks (1/2)') }}</h4>

                    {% if repository_list != None %}
                        <p class="gallery-title">{{ _('Choose from your repository') }}</p>
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Artworks. :c")}}</p>
                            <a href="{{ url('create-artwork') }}" class="select-btn">
                                {{ _('Create one') }}
                            </a>
                        </section>
                    {% endif %}

                    {% with repository_list = artworks, element_type="artwork", selected=selected_artworks %}
                        {% include "users/components/artworks-list.jinja2" %}
                    {% endwith%}

                    <p id="artworks-selected">
                        {{ form.visible_fields()[2].as_hidden() }}
                        <div id="artwork-error">
                            {{ form.visible_fields()[2].errors }}
                        </div>
                    </p>
                    <button type="button" id="next-info" class="select-btn next-btn">
                        {{ _('Next') }}
                    </button>
                </div>
                <div id="artwork-modal" class="tab">
                    <h4 class="modal-title">{{ _('Exhibit Information (2/2)') }}</h4>
                      <p id="exhibit-name-field" class="upload-field">
                          {{ form.visible_fields()[0] }}
                          <div id="exhibit-name-error">
                            {{ form.visible_fields()[0].errors }}
                          </div>
                      </p>
                    <p class="gallery-title">{{ _('Your exhibit URL will look like this') }}</p>
                      <label class="url-helper">https://jandig.app/</label>
                        <p id="exhibit-slug-field" style="float: right; width: 65%">
                            {{ form.visible_fields()[1] }}
                            <div id="exhibit-slug-error">
                                {{ form.visible_fields()[1].errors }}
                            </div>
                        </p>
                    <input class="select-btn next-btn" onclick="cleanSlug()" type="submit" value="{{ _('Publish Exhibit') }}"/>
                </div>
            </form>
        </div>
        <script>
            const MARKER_TAB = 0;
            const ARTWORK_TAB = 1;

            let currentTab = MARKER_TAB;

            function showTab(tabNumber){
                let tabs = $('.tab');
                tabs.hide();
                $('#' + tabs[tabNumber].id).show();
            }

            function validateTab(tab){
                if(tab == 'artworks'){
                    let artworks = $('#artworks-selected > input')[0];

                    if(artworks.textLength != 0){
                        return true;
                    }
                }
            }

            function activateNextButton(){
                if(validateTab('artworks')){
                    $('#next-info').prop('disabled', false);
                }else{
                    $('#next-info').prop('disabled', true);
                }
            }

            function cleanSlug() {
                var slug = document.getElementById('id_slug').value
                let validate = /^[a-zA-Z0-9_]*$/
                if (!slug.match(validate)) {
                    alert("{{ _("Urls can't contain spaces or special characters (i.e: .:, /)") }}")
                }
            }

            function checkMessage(innerText, messageList) {
                var contain = false;

                messageList.forEach((message) => {
                    if(innerText.includes(message)) 
                        contain = true;
                });

                return contain;
            }

            setInterval(activateNextButton, 100);
            // modal events
            $('#select-artworks').click(function(){
                currentTab = MARKER_TAB;
                $('#form-modal').modal({showClose: false});
                showTab(currentTab);
            })
            $('#next-info').click(function(){
                currentTab = ARTWORK_TAB;
                showTab(currentTab);
            })
            $('#create-exhibit').ready(function () {
                let artworkError = $('#artwork-error')[0].innerText;
                let exhibitNameError = $('#exhibit-name-error')[0].innerText;
                let exhibitSlugError = $('#exhibit-slug-error')[0].innerText;

                if (checkMessage(artworkError, ["Este campo é obrigatório", 
                                                    "This field is required"])) {
                    $('#form-modal').modal('toggle');
                    currentTab = MARKER_TAB;
                    showTab(currentTab);
                } else if (checkMessage(exhibitNameError, ["This name is already being used", 
                                                        "Este nome de exibição já está em uso"]) || 
                        checkMessage(exhibitSlugError, ["That exhibit slug is already in use",
                                                        "Este link de exibição já está sendo utilizado"])) {
                    $('#form-modal').modal('toggle');
                    currentTab = ARTWORK_TAB;
                    showTab(currentTab);
                }
            })

        </script>
    </section>
{% endblock %}