{% extends '/core/home.jinja2' %}

{% block content %}
    {% block subcontent %}
    {% endblock %}
    <section class="profile-options-flex">
        <div class="container">
            {% with markers=markers, objects=objects, exhibits=exhibits, artworks=artworks%}
                {% include "users/components/userbox.jinja2" %}
            {% endwith %}

            {# FIXME: maybe this can be improved #}
            <link rel="stylesheet" href="{{ static ('css/profile.css') }}">
            <link rel="stylesheet" href="{{ static ('css/create_box.css') }}">
            <link rel="stylesheet" href="{{ static ('css/repository-list.css') }}">
            <link rel="stylesheet" href="{{ static ('css/generic-modal.css') }}">
            <link rel="stylesheet" href="{{ static ('css/marker-menu.css') }}">
            <script src="{{ static('js/modal.js') }}"></script>
                    <div class="profile-section-header">
                        <div class="profile-section-title">
                            <img class="icon" src="{{ static('images/icons/icoExb.png') }}" alt="exhibition icon" class="icon">
                            <p>{{_("Your MR Exhibitions")}}</p>
                        </div>
                        <a class="create-one-btn" href="{{ url('create-mr-exhibit') }}">{{ _('Create one') }}</a>
                    </div>
                    {% if mr_exhibits %}
                        {% with deletable=true, editable=true, repository_list = mr_exhibits, element_type="mr-exhibit"%}
                            {% include "core/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no MR Exhibitions. :c")}}</p>
                        </section>
                    {% endif %}

                    <div class="profile-section-header">
                        <div class="profile-section-title">
                            <img class="icon" src="{{ static('images/icons/icoExb.png') }}" alt="exhibition icon" class="icon">
                            <p>{{_("Your AR Exhibitions")}}</p>
                        </div>
                        <a class="create-one-btn" href="{{ url('create-ar-exhibit') }}">{{ _('Create one') }}</a>
                    </div>
                    {% if ar_exhibits %}
                        {% with deletable=true, editable=true, repository_list = ar_exhibits, element_type="ar-exhibit"%}
                            {% include "core/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no AR Exhibitions. :c")}}</p>
                        </section>
                    {% endif %}

                    <div class="profile-section-header">
                        <div class="profile-section-title">
                            <img class="icon" src="{{ static('images/icons/icoArt.png') }}" alt="artwork icon" class="icon">
                            <p>{{_("Your Artworks")}}</p>
                        </div>
                        <a class="create-one-btn" href="{{ url('create-artwork') }}">{{ _('Create one') }}</a>
                    </div>
                    {% if artworks %}
                        {% with preview=True, deletable=true, editable=true, repository_list = artworks, element_type="artwork" %}
                            {% include "core/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Artworks. :c")}}</p>
                        </section>
                    {% endif %}
            
                    <div class="profile-section-header">
                        <div class="profile-section-title">
                            <img class="icon" src="{{ static('images/icons/icoMrk.png') }}" alt="marker icon" class="icon">
                            <p>{{_("Your Markers")}}</p>
                        </div>
                        <a class="create-one-btn" href="{{ url('marker-upload') }}">{{ _('Create one') }}</a>
                    </div>
                    {% if markers %}
                        {% with deletable=true, editable=true, repository_list = markers, element_type="marker"%}
                            {% include "core/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Markers. :c")}}</p>
                        </section>
                    {% endif %}
                    
                    <div class="profile-section-header">
                        <div class="profile-section-title">
                            <img class="icon" src="{{ static('images/icons/icoObj.png') }}" alt="object icon" class="icon">
                            <p>{{_("Your Objects")}}</p>
                        </div>
                        <a class="create-one-btn" href="{{ url('object-upload') }}">{{ _('Upload one') }}</a>
                    </div>
                    {% if objects %}
                        {% with deletable=true, editable=true, repository_list = objects, element_type="object" %}
                            {% include "core/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Objects. :c")}}</p>
                        </section>
                    {% endif %}

                    <div class="profile-section-header">
                        <div class="profile-section-title">
                            <img class="icon" src="{{ static('images/icons/icoObj.png') }}" alt="sound icon" class="icon">
                            <p>{{_("Your Sounds")}}</p>
                        </div>
                        <a class="create-one-btn" href="{{ url('sound-upload') }}">{{ _('Upload one') }}</a>
                    </div>
                    {% if sounds %}
                        {% with deletable=true, editable=true, repository_list = sounds, element_type="sound" %}
                            {% include "core/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Sounds. :c")}}</p>
                        </section>
                    {% endif %}


            {% include "users/components/createbox.jinja2" %}
            <section id="modal" class="modal"></section>
        </div>
    </section>
{% endblock %}