{% extends '/core/arviewer.jinja2' %}

{% block extra_css%}
    <link rel="stylesheet" href="{{ static ('css/signup.css') }}">
{% endblock %}

{% block extra_js%}
    <!-- Google Recaptcha -->
    {% if recaptcha_enabled %}
        <script src="https://www.google.com/recaptcha/enterprise.js?render={{recaptcha_site_key}}"></script>
        <script>
            function onSubmit(token) {
                console.log(token)
                document.getElementById("recover-password-form").submit();
            }
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="connect-modal container">
        <div class="logo">
            <a href="{{ url('home') }}">
                    <img src="{{ static ('images/icons/header_icon.png') }}">
            </a>
        </div>
        <div class="modal-container">
            <div class="modalMenu flex">
                <span>{{ _('Type your username or e-mail') }}</span>
            </div>

            <div class="recover-password-form">
                <form id="recover-password-form" action="{{url('recover')}}" method="post" enctype="multipart/form-data">
                    {{ csrf_input }}
                    {% for field in form.visible_fields() %}
                        <p class="recover-password-field {{field.name}}">
                            {{ field }}
                            {{ field.errors }}
                        </p>
                    {% endfor%}
                    <button class="submit-btn g-recaptcha" data-sitekey="{{recaptcha_site_key}}" data-callback='onSubmit' data-action='recover_password'>{{ _('Submit') }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}