{% extends '/core/arviewer.jinja2' %}
{% block extra_css %}<link rel="stylesheet" href="{{ static ('css/signup.css') }}">{% endblock %}
{% block extra_js %}
    <!-- Cloudflare Turnstile -->
    {% if turnstile_enabled %}
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"
                async
                defer></script>
        <script>
        function enableSubmit() {
            document.getElementById("submit-button").disabled = false;
        }
        </script>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="signup-modal container">
        <div class="logo">
            <a href="{{ url('home') }}">
                <img src="{{ static ('images/icons/header_icon.png') }}">
            </a>
        </div>
        <div class="modalMenu flex">
            <span>{{ _("Sign up") }}</span>
            <a href="/users/login">{{ _("Log in") }}</a>
        </div>
        <div class="signup-form">
            <form id="signup-form"
                  action="{{ url('signup') }}"
                  method="post"
                  enctype="multipart/form-data">
                {{ csrf_input }}
                {% for field in form.visible_fields() %}
                    <p class="signup-field {{ field.name }}">
                        {{ field }}
                        {{ field.errors }}
                    </p>
                {% endfor %}
                <div class="form-options">
                    <p>
                        <input type="checkbox" name="remember" value="1" id="remember-me-checkbox">
                        <label for="remember-me-checkbox">{{ _("Remember me") }}</label>
                    </p>
                </div>
                {% if turnstile_enabled %}
                    <!-- Turnstile widget -->
                    <div class="cf-turnstile"
                         data-sitekey="{{ turnstile_site_key }}"
                         data-callback="enableSubmit"></div>
                    <button class="submit-btn" type="submit" id="submit-button" disabled>{{ _("Submit") }}</button>
                {% else %}
                    <button class="submit-btn" type="submit">{{ _("Submit") }}</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
