{# Receives a list of markers/objects to list #}

{% block content %}

        {% with repository_list = repository_list, element_type="artwork" %}
            {% include "users/components/item-list.jinja2" %}
        {% endwith%}

        <script>
            let artworks = {}
            let str_artworks = ""

            {% if selected %}
                "{{selected}}".split(",").forEach(function(id){
                    artworks[id] = id
                    $("#artwork-"+id).css("border-bottom","3px solid #a6a6a6");
                })
            {% endif %}

            $('.repository-item').click(function(){
                let elementId = $(this).attr('id').split('-')[1];
                let sectionId = $(this).parent().attr('id');

                // reset background
                if($(this).css('border-bottom-style') != "none"){
                    $(this).css("border-bottom","none");
                    delete artworks[elementId]
                }else{
                    $(this).css("border-bottom","3px solid #a6a6a6");
                    artworks[elementId] = elementId
                }
                str_artworks = ""
                for (element in artworks){
                    str_artworks += element+","
                }
                // Remove last comma
                str_artworks = str_artworks.substr(0, str_artworks.length-1)

                let artworks_input = $('#artworks-selected > input');
                artworks_input.val(str_artworks);
            });
        </script>
{% endblock %}