{% extends '/users/components/generic-modal.jinja2' %}

<link rel="stylesheet" href="/static/css/repository-list.css">

{% block title %}
    <h1 id="modal-title"></h1>
{% endblock %}

{% block content %}
    <a id="element-author" href="#"></a>
    <p id="element-upload-info"></p>
    <p id="element-analytics"></p>
    <p id="download"> Download file:</p>
    <p id="element-download"></p>

    <script>
        function elementAuthor(author, owner_id){
            $('#element-author').text({{ _("by ")|tojson }} + author);
            $('#element-author').attr("href", "{{ url('profile') }}?user=" + owner_id);
        }
        function uploadedBy(owner, date){
            $('#element-upload-info').replaceWith(
                    '<p id="element-upload-info">' +
                    {{ _("Uploaded by ")|tojson }} +
                    owner  + ', ' +
                    {{ _("in ")|tojson }} + date + '</p>'
                )
        }
        function usedIn(artworks_count, exhibits_count, element_src, element_id, elemType){

            $('#element-analytics').replaceWith(
                '<p id="element-analytics">'+
                {{ _(" Used in ")|tojson }} + '<a href="{{ url('related-content') }}?id=' + element_id + '&type=' + elemType + '">' +
                artworks_count +  {{ _(" artworks")|tojson }} + '</a>' +
                {{ _(" and in ")|tojson }} + '<a href="{{ url('related-content') }}?id=' + element_id + '&type=' + elemType + '">' + exhibits_count +
                {{ _(" Exhibits")|tojson }} + '</a>' +
                '<img id="element-src" src="' + element_src + '"/></p>'
            )
        }
        function usedInExhibit(marker_id, object_id, exhibits_count, marker_src, augmented_src, element_id){
            let object_tag = ''
            if(augmented_src.split('.')[1] == 'mp4' || augmented_src.split('.')[1] == 'webm'){
                object_tag = '<video muted autoplay loop id="' + object_id + '" class="trigger-erase artwork-content" data-elem-type="object" src="' + augmented_src + '"/></p>'
            }else{
                object_tag = '<img id="' + object_id + '" class="trigger-erase artwork-content" data-elem-type="object" src="' + augmented_src + '"/></p>'
            }

            $('#element-analytics').replaceWith(
                '<p id="element-analytics">'+
                {{ _(" Used in ")|tojson }} + '<a href="{{ url('related-content') }}?id=' + element_id + '&type=artwork">' +
                exhibits_count +
                {{ _(" Exhibits")|tojson }} + '</a>' +
                '<img id="' + marker_id + '" class="trigger-erase artwork-content" data-elem-type="marker" src="' + marker_src + '"/>' +
                object_tag
            )
            $('.trigger-erase').click(eraseModal);
        }


        function downloadElement(element_type, file_size, element_src){
            if(element_type == "marker"){
                $('#element-download').replaceWith(
                    '<p id="element-download">' +
                    '<a id="png-download" href="'+ element_src +'">Download .png (' + file_size + ' kb)</a></p>'
                )
            }else{
                $('#element-download').replaceWith(
                    '<p id="element-download">' +
                    '<a id="gif-download" href="'+ element_src +'">Download .gif (' + file_size + ' kb)</a></p>'
                )
            }
        }
        function replaceButtons(title, description){
            $('#share-element').replaceWith(
               '<h4>Title: ' + title + '</h4>'
            );
            $('#create-artwork').replaceWith(
                '<p>' + description + '</p>'
            );
        }

        function fillModal(element){
            let elemType = element.attr('data-elem-type');
            let title = element.attr('title')
            let element_id = element.attr('id')

            if(!title) {
                $('#modal-title').text({{ _("This is a Jandig ")|tojson }} + elemType);
            } else if (title != '') {
                $('#modal-title').text(title);
            } else {
                $('#modal-title').text({{ _("This is a Jandig ")|tojson }} + elemType);
            }

            let elemUrl = {{url('element-get')|tojson}};
            elemUrl += ("?" + elemType + "_id=" + element.attr('id'));

            if(elemType != "artwork"){
                $('#share-element').text(
                    {{ _('Share this ')|tojson }} + elemType
                );
                $('#create-artwork').text(
                     {{ _('Create artwork with this ')|tojson }} + elemType
                );

                $.ajax({
                    url: elemUrl,
                    success: function(data){
                        elementAuthor(data['author'], data['owner_id']);
                        uploadedBy(data['owner'], data['uploaded_at']);
                        usedIn(data['artworks'], data['exhibits'], data['source'], element_id, elemType);
                        downloadElement(data['type'], data['size']/1000, data['source']);
                    }
                });
            }else{
                $('#download').attr('hidden', true)
                $.ajax({
                    url: elemUrl,
                    success: function(data){
                        elementAuthor(data['author'], data['owner_id']);
                        usedInExhibit(data['id_marker'], data['id_object'], data['exhibits'], data['marker'], data['augmented'], element_id);
                        replaceButtons(data['title'], data['description']);
                        downloadElement(data['type'], data['augmented_size']/1000, data['augmented']);
                    }
                });
            }
        }

        function eraseModal() {
            $('#element-analytics').replaceWith('<p id="element-analytics"></p>');
            $('#element-author').replaceWith('<p id="element-author"></p>');
            fillModal($(this));
        }


        function manageModal(){
            element = $(this);
            fillModal(element);
        }

        $('.trigger-modal').click(manageModal);

    </script>
{% endblock %}
