
<section class="modal">
    {# FIXME: maybe this can be improved #}
    <link rel="stylesheet" href="/static/css/generic-modal.css">
    
    {% block title %}
    {% endblock %}
    <div class="modal-content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        var modal = document.querySelector(".modal");
        var trigger = document.querySelector(".trigger-modal");
        var closeButton = document.querySelector(".close-button");

        function toggleModal() {
            modal.classList.toggle("show-modal");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }

        trigger.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);
    </script>
</section>
