
<section class="modal">
    {# FIXME: maybe this can be improved #}
    <link rel="stylesheet" href="/static/css/generic-modal.css">
    
<div class="modal-container">
    {% block title %}
    {% endblock %}
    <div class="modal-content">
        {% block content %}
        {% endblock %}
    </div>
</div>
    <script>
        var modal = document.querySelector(".modal");
        var triggers = $(".trigger-modal");

        function toggleModal() {
            modal.classList.toggle("show-modal");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }

        triggers.click(toggleModal);
        window.addEventListener("click", windowOnClick);
    </script>
</section>
