{# FIXME: maybe this can be improved #}
<link rel="stylesheet" href="/static/css/elements-modal.css">
{% if element_type == "exhibit"%}
    <section id="repo-{{element_type}}" class="exhibit-list flex">
{% else %}
    <section id="repo-{{element_type}}" class="repository-list">
{% endif %}
    {% for element in repository_list %}
        <div id="{{ element_type }}-{{ element.id }}" class="repository-item">
            {% if element_type == "marker" or element_type == "object" %}
                <img id="{{ element.id }}" class="trigger-modal" data-elem-type="{{element_type}}" src="{{ element.source.url }}" height="50" width="50">
            {% elif element_type == "artwork" %}
                <img id="{{ element.id }}" class="trigger-modal" data-elem-type="{{element_type}}" src="{{ element.marker.source.url }}" height="50" width="50">
                <img id="{{ element.id }}" class="trigger-modal" data-elem-type="{{element_type}}" src="{{ element.augmented.source.url }}" height="50" width="50">
                {% if editable == True %}
                    <a href="{{ url('edit-artwork') }}?id={{element.id}}">edit</a>
                {% endif %}
            {% else %}
                <a href="{{url('exhibit-detail')}}?id={{element.id}}">
                    <img src="https://cdn3.iconfinder.com/data/icons/basic-mobile-part-2/512/painter-512.png" height="50" width="50">
                </a>
                <div class="exhibit-info">
                    <p class="exhibit-name">{{element.name}}</p>
                    <p class="exhibit-slug">http://dev.jandig.app/<b>{{element.slug}}</b></p>
                    <p class="exhibit-about">{{element.artworks_count}} artworks | Published on {{element.date}}</p>
                {% if editable == True %}
                    <a href="{{ url('edit-exhibit') }}?id={{element.id}}">Edit</a>
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</section>
