{% extends '/users/components/generic-modal.jinja2' %}

<link rel="stylesheet" href="/static/css/repository-list.css">

{% block title %}
    <h3 class="modal-title">{{ _("This is a Jandig marker") }}</h3>
{% endblock %}

{% block content %}
    <p>
        {{ _("by ") }} {{ marker.author }}
    </p>
    <p>
        {{ _("Uploaded by") }} <a> {{ marker.owner.user.username }}</a>, {{ _("in") }} {{ marker.uploaded_at.strftime('%d %b, %Y') }}
    </p>
    <p>
        {{ _(" Used in ") }} <a href="#"> {{ marker.artworks_count }} {{ _(" artworks") }}</a> {{ _("and in") }} <a href="#">{{ marker.exhibits_count }} {{ _(" exhibits") }}</a>
        
        <img id="marker-img" src="{{ marker.source.url }}"/>
    </p>
    <p> Download file:</p>
    <p><a href="#">.png ({{marker.source.size/1000}} kb) </a></p>
    
    <button id="share-marker" class="select-btn">
        {{ _('Share this marker') }}
    </button>
    <button id="create-artwork" class="select-btn">
        {{ _('Create artwork with this marker') }}
    </button>
{% endblock %}