<link rel="stylesheet" href="/static/css/elements-modal.css">
{% if element_type == "exhibit"%}
    <section id="repo-{{element_type}}" class="exhibit-list flex">
{% else %}
    <section id="repo-{{element_type}}" class="repository-list flex">
{% endif %}
    {% for element in repository_list %}
        <div id="{{ element_type }}-{{ element.id }}" class="repository-item">

            {% if element_type == "marker" or element_type == "object" %}
                <img id="{{ element.id }}" class="trigger-modal" data-elem-type="{{element_type}}" src="{{ element.source.url }}" height="50" width="50">
                {% if deletable == True %}
                    <a href="{{ url('mod-delete-content') }}?content_type={{element_type}}&instance_id={{ element.id }}" class="delete">{{ _("Delete")}}</a>
                {% endif %}

            {% elif element_type == "artwork" %}
                <div class="artwork-elements flex">
                    <img id="{{ element.id }}" class="trigger-modal" data-elem-type="{{element_type}}" src="{{ element.marker.source.url }}" height="50" width="50">
                    <div class="separator"></div>
                    <img id="{{ element.id }}" class="trigger-modal" data-elem-type="{{element_type}}" src="{{ element.augmented.source.url }}" height="50" width="50">
                    {% if deletable == True %}
                        <a href="{{ url('mod-delete-content') }}?content_type={{element_type}}&instance_id={{ element.id }}" class="delete">{{ _("Delete")}}</a>
                    {% endif %}
                </div>

            {% else %}
                <a href="{{url('exhibit-detail')}}?id={{element.id}}">
                    <h1 class="exhibit-name">{{element.name}}</h1>
                </a>
                <div class="exhibit-info flex">
                    <p class="by">{{_("Created by ")}} <b>{{element.owner.user.username}}</b></p>
                    <p class="exbDate">{{element.date}}</p>
                    <p class="exhibit-about">{{element.artworks_count}} {{ _("artwork(s)") }}</p>
                    <a href="{{"/"+element.slug+"/"}}" class="gotoExb">{{ _("See this exhibition") }}</a>
                {% if deletable == True %}
                    <a href="{{ url('mod-delete-content') }}?content_type={{element_type}}&id={{element.id}}" class="delete">{{ _("Delete")}}</a>
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <script>
        $(".exhibit-slug").each(function(i,exhibit_slug){
            highlight_part = "<b>" + exhibit_slug.innerHTML.split("<b>")[1]
            site_url = window.location.protocol + "//" + window.location.host + "/"
            exhibit_slug.innerHTML = site_url + highlight_part
        })
        $(".delete").onclick(function(){

        })
    </script>
</section>
