{# Receives a list of markers/objects to list #}

{% block content %}
    <section id="repo-{{element_type}}" class="repository-list">

        {% with repository_list = repository_list, element_type="marker" %}
            {% include "users/components/item-list.jinja2" %}
        {% endwith%}

        <script>
            $('.repository-item').click(function(){
                let elementId = $(this).attr('id');
                let sectionId = $(this).parent().attr('id');
                
                // reset background
                $(this).parent().children().css('background-color', 'white')
                $(this).css('background-color', 'red');
            
                if(sectionId == 'repo-marker'){
                    $('#existent-marker > input').val(elementId);
                }else{
                    $('#existent-object > input').val(elementId);
                }
            });
        </script>
    </section>
{% endblock %}