{% set markers = request.user.profile.marker_set.all()|length %}
{% set objects = request.user.profile.object_set.all()|length %}
{% set exhibits = request.user.profile.exhibits.all()|length %}
{% set artworks = request.user.profile.artwork_set.all()|length %}

<section class="userbox flex">
    <div class="countMrk sm-half lg-one-third">
        {%if markers %}
            {{ markers }} {{ _(' markers') }} 
        {% else %}
            {{ _('No uploads yet.')}}
        {% endif %}
    </div>
    <div class="countObj sm-half lg-one-third">
        {%if objects %}
            {{ objects }} {{ _(' objects') }} 
        {% else %}
            {{ _('No uploads yet.')}}
        {% endif %}
    </div>
    <div class="editProf sm-full lg-one-third">
        <a class="option-link" href="{{ url('edit-profile')}}">{{ _('Edit personal info') }}</a>
    </div>
        {%if artworks %}
            <div class="bdgArt half">
                <b>
                {{ _('Jandig Artist')}}
                </b>
                <br />
                {{ artworks }} {{ _(' artworks') }} 
        {% else %}
            <div class="bdgArt empty half">
                <b>
                {{ _('No artworks yet.')}}
                </b>
                <br /> 
                <a class="" href="{{ url('create-artwork') }}">
                    {{ _('Create your first!')}}
                </a>
        {% endif %}
            </div>
        {%if exhibits %}
            <div class="bdgCur half">
                <b>
                {{ _('Jandig Curator')}}
                </b>
                <br />
                {{ exhibits }} {{ _(' exhibits') }} 
        {% else %}
            <div class="bdgCur empty half">
                <b>
                {{ _('No exhibitions yet.')}}
                </b>
                <br />
                <a class="" href="{{ url('create-exhibit') }}">
                    {{ _('Create your first!')}}
                </a>
        {% endif %}
    </div>
</section>
