<!doctype html>
<html>
    <head>
        <link id="manifest" rel="manifest" href="/static/manifest.json">
        <title>Jandig ARte</title>
        <meta name="Description" content="Augmented reality artworks!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

    <script src="/static/js/bowser.js"></script>
    <script src="/static/js/detect.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/artoolkit.min.js" defer></script>
    <script src="/static/three.min.js" defer></script>
    <script src="/static/artoolkit.three.js" defer></script>
    <script src="/static/ar-gif.min.js" defer></script>

    <body>
        {% if content is defined %}
            <section>
                {{ content }}
            <section>
        {% else %}
            {% block content %}
                {% if content_html %}
                    <div class="Container">
                        {{ content_html|safe }}
                    </div>
                {% endif %}
            {% endblock %}
        {% endif %}
        <ar-scene></ar-scene>
    </body>
</html>