<!doctype html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37240876-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-37240876-2');
        </script>
        <link id="manifest" rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/bowser.js"></script>
        <script src="/static/js/detect.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/artoolkit.min.js" defer></script>
        <script src="/static/three.min.js" defer></script>
        <script src="/static/artoolkit.three.js" defer></script>
        <script src="/static/ar-gif.min.js" defer></script>
        <script src="/static/js/rotationLock.js"></script>

        <title>Jandig ARte</title>
        <meta name="Description" content="Augmented reality artworks!">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i&display=swap" rel="stylesheet">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    </head>

    <body>
        {% if content is defined %}
            {{ content }}
        {% else %}
            {% block content %}
                {% if content_html %}
                    <div class="Container">
                        {{ content_html|safe }}
                    </div>
                {% else %}
                    <p>{{ _('Please override the "content" block of your template!') }}</p>
                {% endif %}
            {% endblock %}
        {% endif %}
        {% include "core/ui.jinja2" %}
    </body>
</html>