{% extends '/core/home.jinja2' %}

{% block content %}
    {% block subcontent %}
    {% endblock %}
    <section class="profile-options-flex">
        <div class="container">

            {# FIXME: maybe this can be improved #}
            <link rel="stylesheet" href="/static/css/repository-list.css">

                {% if exhibits %}
                    <h1 class="titExb">{{_("Jandig Exhibitions")}}</h1>
                    {% with repository_list = exhibits, element_type="exhibit"%}
                        {% include "users/components/item-list.jinja2" %}
                    {% endwith %}
                    {% if seeall == False %}
                    <a href = "/see_all?which=exhibits" class="seeall">{{_("All Exhibits")}}</a>
                    {% endif %}
                {% endif %}

                {% if artworks %}
                    <h1 class="titArt">{{_("Jandig Artworks")}}</h1>
                    {% with repository_list = artworks, element_type="artwork" %}
                        {% include "users/components/item-list.jinja2" %}
                    {% endwith %}
                    {% if seeall == False %}
                    <a href = "/see_all?which=artworks" class="seeall">{{_("All Artworks")}}</a>
                    {% endif %}
                {% endif %}

                {% if markers %}
                    <h1 class="titMrk">{{_("Jandig Markers")}}</h1>
                    {% with repository_list = markers, element_type="marker"%}
                        {% include "users/components/item-list.jinja2" %}
                    {% endwith %}
                    {% if seeall == False %}
                    <a href= "/see_all?which=markers" class="seeall">{{_("All Markers")}}</a>
                    {% endif %}
                {% endif %}

                {% if objects %}
                    <h1 class="titObj">{{_("Jandig Objects")}}</h1>
                    {% with repository_list = objects, element_type="object" %}
                        {% include "users/components/item-list.jinja2" %}
                    {% endwith%}
                    {% if seeall == False %}
                    <a href= "/see_all?which=objects" class="seeall">{{_("All Objects")}}</a>
                    {% endif %}
                {% endif %}

                {% if not exhibits and not artworks and not markers and not objects %}
                    <h1 class="titObj" style="font-size: 1em;">{{_("We found no content on your Collection, try uploading an object.")}}</h1>
                {% endif %}
            {% include "users/components/elements-modal.jinja2" %}
        </div>
    </section>
{% endblock %}