{% extends '/core/home.jinja2' %}

{% block content %}
    {% block subcontent %}
    {% endblock %}
    <section class="profile-options-flex">
        <div class="container">

            {# FIXME: maybe this can be improved #}
            <link rel="stylesheet" href="/static/css/repository-list.css">
            <h1 class="titExb">{{_("Exhibits")}}</h1>
                {% if exhibits %}
                    {% with repository_list = exhibits, element_type="exhibit"%}
                        {% include "users/components/item-list.jinja2" %}
                    {% endwith %}
                {% endif %}
            <h1 class="titArt">{{_("Artworks")}}</h1>
                {% if artworks %}
                    {% with repository_list = artworks, element_type="artwork" %}
                        {% include "users/components/item-list.jinja2" %}
                    {% endwith %}
                {% endif %}
            <h1 class="titMrk">{{_("Markers")}}</h1>
                {% if markers %}
                    {% with repository_list = markers, element_type="marker"%}
                        {% include "users/components/item-list.jinja2" %}
                    {% endwith %}
                {% endif %}
            <h1 class="titObj">{{_("Objects")}}</h1>
                {% if objects %}
                    {% with repository_list = objects, element_type="object" %}
                        {% include "users/components/item-list.jinja2" %}
                    {% endwith%}
                {% endif %}
            {% include "users/components/elements-modal.jinja2" %}
        </div>
    </section>
{% endblock %}