{% extends 'core/home.jinja2' %}

{% block content %}
    <section class="text-content">
        <p class="title">
            Titulo de trecho
        </p>
        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Quisque urna tortor, vehicula nec
            sodales ut, cursus in ipsum. Ut convallis rhoncus
            nulla, a finibus leo ullamcorper non.re tincidunt
            magna, vel fringilla nisi tincidunt sit amet
        </p>
        <p class="title">
            Titulo de trecho
        </p>
        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Quisque urna tortor, vehicula nec
            sodales ut, cursus in ipsum. Ut convallis rhoncus
            nulla, a finibus leo ullamcorper non.re tincidunt
            magna, vel fringilla nisi tincidunt sit amet
        </p>
        <p class="title">
            Titulo de trecho
        </p>
        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Quisque urna tortor, vehicula nec
            sodales ut, cursus in ipsum. Ut convallis rhoncus
            nulla, a finibus leo ullamcorper non.re tincidunt
            magna, vel fringilla nisi tincidunt sit amet
        </p>
    </section> 
{% endblock %}