{% extends 'core/home.jinja2' %}

{% block community %}
    <section class="text-content">
        <div class="container">
            <h1>Heading 1</h1>
            <blockquote>Fusce a bibendum ante, sit amet luctus est. Praesent sit amet ullamcorper velit. Donec orci nisl, sagittis nec rhoncus vitae.</blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lorem enim, euismod a velit ut, congue tincidunt lacus. Nunc id dui eu leo blandit sodales non id odio. Nulla ut ante <b>vitae tortor gravida</b> efficitur vitae nec arcu. Integer id fringilla eros. Suspendisse porta feugiat tempor. Aenean eu <i>turpis vitae</i> mi euismod vestibulum. Duis ullamcorper suscipit arcu, at accumsan metus dignissim eu. Ut pellentesque pellentesque tincidunt.</p>
            <h2>Heading 2</h2>
            <p>Proin lacinia augue id ex pretium finibus. Donec egestas euismod tortor. Orci varius natoque <em>penatibus et magnis</em> dis parturient montes, nascetur ridiculus mus. Sed aliquet convallis ante, at sodales odio egestas pretium. <a href="#">Fusce id fermentum quam.</a> Curabitur vitae ante porta, pharetra metus vitae, vestibulum erat. Morbi eu pellentesque diam. Sed lobortis ultricies viverra. Fusce tempus neque ut orci posuere euismod. Sed vel lacus fermentum, maximus metus sit amet, varius urna.</p>
            <h3>Heading 3</h3>
            <p>Etiam leo neque, gravida non nisl nec, tempus aliquam velit. In ut sagittis erat. Aliquam sit amet pretium urna. Mauris rhoncus nulla quis ligula maximus vehicula. Nullam iaculis <strong>purus ultrices</strong> leo bibendum ultrices. Donec urna quam, gravida vitae molestie nec, malesuada id risus.</p>
            <h3>Heading 3</h3>
            <p>Nunc gravida, nulla vitae vestibulum eleifend, magna est accumsan massa, consectetur semper metus massa vel nunc. Suspendisse nec urna eu nulla mattis laoreet. Vestibulum tincidunt sit amet orci at maximus. Mauris risus massa, elementum interdum eros ut, porttitor volutpat neque. Quisque gravida convallis ipsum, in pharetra nulla aliquam vitae.</p>
            <ul>
                <li>Fusce a bibendum ante, sit amet luctus est.</li>
                <li>Praesent sit amet ullamcorper velit.</li>
                <li>Donec orci nisl, sagittis nec rhoncus vitae.</li>
            </ul>
            <h4>Heading 4</h4>
            <p>Maecenas varius urna at justo accumsan ullamcorper. Nullam dapibus posuere efficitur. Nulla venenatis mi sit amet quam blandit, nec scelerisque turpis tempus. Sed luctus sit amet eros placerat porttitor. Mauris eu convallis nibh.</p>
            <hr>
            <p>Aenean diam magna, porta nec dui eu, pellentesque accumsan orci. Cras id sodales magna, eu eleifend lectus. Nulla facilisi. Ut orci libero, finibus eget faucibus nec, ullamcorper ac quam. Sed semper, nisi vitae tempus vehicula, orci erat euismod metus, vitae lobortis lacus mauris sit amet purus.</p>
            <h5>Heading 5</h5>
            <p>Etiam interdum tortor rhoncus, efficitur diam pretium, tristique orci. Fusce non sapien nec ligula lacinia rhoncus nec ac risus. Etiam efficitur ultricies ante. Nunc vitae eleifend felis. Phasellus posuere augue dolor, quis consequat dui mollis imperdiet. Proin quis fringilla lorem. Praesent pellentesque ac felis vel placerat. Mauris ac mauris sed lectus efficitur pulvinar. Nulla facilisi. Mauris bibendum urna ac ultrices aliquet.</p>
            <ol>
                <li>Fusce a bibendum ante, sit amet luctus est.</li>
                <li>Praesent sit amet ullamcorper velit.</li>
                <li>Donec orci nisl, sagittis nec rhoncus vitae.</li>
            </ol>
            <h6>Heading 6</h6>
            <p>Fusce a bibendum ante, sit amet luctus est. Praesent sit amet ullamcorper velit. Donec orci nisl, sagittis nec rhoncus vitae, iaculis et lacus. Sed cursus ligula non nunc interdum, a efficitur purus gravida. Aliquam ullamcorper pharetra libero commodo gravida. Curabitur eget arcu dictum, accumsan nulla sed, gravida ligula. Aliquam turpis lectus, semper eget justo at, fringilla iaculis turpis. In tincidunt quis leo ut interdum. Nulla tellus dolor, euismod nec ipsum et, viverra varius dolor.</p>

        </div>
    </section> 
{% endblock %}