{% extends '/core/base.jinja2' %}

{% block content %}
    <ar-scene>
        {% for artwork in artworks %}
            <ar-marker patt="/static/patts/{{artwork.patt}}.patt">
                <ar-content 
                    src="/static/images/{{artwork.gif}}.gif" 
                    scale="{{artwork.scale}}"
                    position="{{artwork.position}}"
                    rotation="{{artwork.rotation}}">
                </ar-content>
            </ar-marker>
        {% endfor %}     
    </ar-scene>
{% endblock %}