{% extends '/core/home.jinja2' %}

{% block content %}
    <link rel="stylesheet" href="/static/css/repository-list.css">
    {# <link rel="stylesheet" href="/static/css/exhibit-detail.css"> #}
    <div class="exhibit-detail container">
        <div class="exhibit-detail-box flex">    
            {# <img src="{{exhibitImage}}" /> #}
            <h1 class="exhibit-name">{{exhibit.name}}</h1>
            <p class="url">https://jandig.app/<span>{{exhibit.slug}}</span></p>
            <a href="https://jandig.app/{{exhibit.slug}}" class="gotoExb">{{ _("See this exhibition") }}</a>
            <p class="by">{{_("Created by ")}} <b>{{exhibit.owner.user.username}}</b></p>
            {# <p class="stats">{{exhibit.artworks_count}} {{_("artworks)}} | {{_("Published on"}}  {{exhibit.date}}</p> #} 
        </div>    
        <h1 class="titArt">{{_("Exhibition artworks")}}</h1>
        {% with repository_list = artworks, element_type="artwork" %}
            {% include "users/components/item-list.jinja2" %}
            
        {% endwith %}

        {% include "users/components/elements-modal.jinja2" %}

    </div>
{% endblock %}