{% extends '/core/base.jinja2' %}

{% block content %}
<script>
        window.addEventListener("orientationchange", function() {
            document.location.reload(true)
        });
    </script>
    <style>
        @media screen and (orientation: landscape) {
            canvas {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    </style>

    <ar-scene>
        {% for artwork in artworks %}
            <ar-marker patt="/media/public/{{artwork.marker.patt.name}}">
                <ar-content
                    src="/media/public/{{artwork.augmented.source.name}}"
                    scale="{{artwork.augmented.scale}}"
                    position="{{artwork.augmented.position}}"
                    rotation="{{artwork.augmented.rotation}}">
                </ar-content>
            </ar-marker>
        {% endfor %}
    </ar-scene>
{% endblock %}