{% extends '/core/arviewer.jinja2' %}

{% block content %}
    {# FIXME: maybe this can be improved #}
    <link rel="stylesheet" href="/static/css/signup.css">
    <div class="signup-modal container flex">
        <div class="logo">
            <a href="{{ url('home') }}">
                    <img src="/static/images/icons/header_icon.png">
            </a>
        </div>

        <div class="exhibit-form">
            <h2>Choose the exhibition you're seeing</h2>
            <form name="exhibit-form" action="{{url('exhibit_select')}}" method="post">
                {{ csrf_input }}
                {% for field in form.visible_fields() %}
                    <p class="exhibit-field {{field.name}}">
                        {{ field }}
                        {{ field.errors }}
                    </p>
                {% endfor%}
                <input class="submit-btn" type="submit" value="{{ _('Submit') }}" disabled="disabled"/>
            </form>
        </div>
    </div>
    <script>
        $('#id_exhibit').on('change',function(e){
            if($(this).prop('value') != ''){
                $('input[type="submit"]').prop('disabled', false);
            }else{
                $('input[type="submit"]').prop('disabled', true);
            }
        });
    </script>
{% endblock %}