<section class="footer">
    <div class="container flex">
        <a href="#" class="useful">{{ _('About us') }}</a>
		<a href="/docs/index.html" class="github">{{ _('Jandig on Github') }}</a>
		<!--<div class="social">
			<a href="" class="instagram">{{ _('Jandig on Instagram') }}</a>
		</div>-->
	</div>
    <div class="container flex">
        <a href="#" class="license">{{ _('All content shared under this license.') }}</a>
        <a href="#" class="memelab">memelab</a>
	</div>
</section>