<section class="footer">
    <div class="container flex">
        <a href="#"> {{ _('Legal text') }}</a>
        <a href="#"> {{ _('Footer links') }}</a>
		<div class="github">
			<a href="/docs/index.html">{{ _('Documentation') }}</a>
		</div>
    </div>
</section>