<section class="header">
    <div class="container">
        <div class="logo">
            <a href="{{ url('home') }}">
                <img src="/static/images/icons/header_icon.png">
            </a>
        </div>

        <div class="aside">             
            <div class="icon-menu flex">
                <a href="#" class="btnLang trigger-lang-modal">Language</a>
                <!--<a href="#" class="btnSearch">Search</a>
                <a href="#" class="btnHelp">Help</a>-->
            </div>

            {% if request.user.is_authenticated %}
                <div class="welcome">
                    <p>
                        Welcome, <a href="{{ url('profile') }}">{{ request.user.username }}</a>
                    </p>
                </div>          

            {% else %}
                <div class="connect flex">
                    <div class="signup-btn">
                        <a href=" {{ url('signup') }}">{{ _('Sign up') }}</a>
                    </div>
                    <div class="login-btn">
                        <a href="/users/login">{{ _('Log in') }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% include "core/language-select-modal.jinja2" %}
