{% extends '/core/base2.jinja2' %}

{% block content %}
    <section class="header">
        <div class="container flex">
            <div class="logo">
                <img src="static/images/icons/Icon-40.png">
            </div>
            {% if request.user.is_authenticated %}
                <div class="welcome">
                    <p>
                        Welcome, {{ request.user.username }}  
                    </p>
                </div>
            {% else %}
                <div class="signup-btn">
                    <a href="#">Sign up</a>
                </div>
            {% endif %}
        </div>
    </section>
    <section class="useful-links">
        <div class="container flex">
            <a href="https://github.com/memeLab/ARte">Repository</a>
            <a href="community">Get involved</a>
            <a href="docs">Documentation</a>
        </div>
    </section>
    <section class="use-guide">
        <h3>How to use</h3>
        <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Quisque urna tortor, vehicula nec
        sodales ut, cursus in ipsum. Ut convallis rhoncus
        nulla, a finibus leo ullamcorper non.re tincidunt
        magna, vel fringilla nisi tincidunt sit amet</p>
        <div class="authorize-camera">
            <a href="ar">Authorize camera</a>
        </div>
    </section>
    <section class="footer">
        <div class="container flex">
            <a href="#">Legal text</a>
            <a href="#">Footer links</a>
        </div>
    </section>
{% endblock %}