<!doctype html>
<html>
    <head>
        <link id="manifest" rel="manifest" href="/static/manifest.json">
        <link rel="stylesheet" href="/static/css/home.css">
        <title>Jandig ARte</title>
        <meta name="Description" content="Augmented reality artworks!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

    <body>
        <section class="header">
            <div class="container flex">
                <div class="logo">
                    <img src="/static/images/icons/header_icon.png">
                </div>
                {% if request.user.is_authenticated %}
                    <div class="welcome">
                        <p>
                            Welcome, <a href="{{ url('profile') }}">{{ request.user.username }}</a>
                        </p>
                        <p>
                            {% if not markers and not objects %}
                                {{ _('No uploads yet.') }}
                            {% elif markers and objects%}
                                {{ markers }} {{ _(' markers') }} | {{ objects }} {{ _(' objects') }}
                            {% elif markers and not objects %}
                                {{ markers }} {{ _(' markers') }} | {{ _('No objects yet.') }}
                            {% else %}
                                {{ _('No markers yet.') }} | {{ objects }} {{ _(' objects') }}
                            {% endif %}
                        </p>
                        <p>
                            {% if not exhibits %}
                                {{ _('No exhibits yet.') }}
                            {% else %}  
                                {{ exhibits }} {{ _(' exhibits') }}
                            {% endif %}
                        </p>
                    </div>
                {% else %}
                    <div class="signup-btn">
                        <a href=" {{ url('signup') }}">{{ _('Sign up') }}</a>
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="useful-links">
            <div class="container flex">
                <a href="https://github.com/memeLab/ARte">{{ _('Repository') }}</a>
                <a href="{{ url('community') }}">{{ _('Get involved') }}</a>
                <a href="{{ url('docs') }}">{{ _('Documentation') }}</a>
            </div>
        </section>
        {% if content is defined %}
            {{ content }}
        {% else %}
            {% block content %}
                {% if content_html %}
                    <div class="Container">
                        {{ content_html|safe }}
                    </div>
                {% else %}
                    <section class="use-guide">
                        <h3>How to use</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Quisque urna tortor, vehicula nec
                        sodales ut, cursus in ipsum. Ut convallis rhoncus
                        nulla, a finibus leo ullamcorper non.re tincidunt
                        magna, vel fringilla nisi tincidunt sit amet</p>
                        <div class="authorize-camera">
                            <a href="ar"> {{ _('Authorize camera') }}</a>
                        </div>
                    </section>
                {% endif %}
            {% endblock %}
        {% endif %}
        <section class="footer">
            <div class="container flex">
                <a href="#"> {{ _('Legal text') }}</a>
                <a href="#"> {{ _('Footer links') }}</a>
            </div>
        </section>
    </body>
</html>