<div class="ui-container">
    <div class="bottom-nav">
    	<div class="container flex">
            <a href="/exhibit_select" class="changeExb"> {{ _('Change exhibition') }}</a>
            <a href="{{ url('home') }}" class="jandigIco"> {{ _('Back to home') }}</a>
    	</div>
        <div class="screenshot-container">
               <div class=screenshot-button onclick="takePicture()">
                    <a id=picture-link></a>
               </div>
        </div>
    </div>
</div>