<div class="ui-container">
    <div class="bottom-nav">
    	<div class="container flex">
            <img id="loadingGif" style="width: 50px; height: 50px; display: none; position: absolute; top: 50%; left: 50%" src="/static/images/icons/loadingGif.gif">
            <a href="/exhibit_select" class="changeExb"> {{ _('Change exhibition') }}</a>
            <a href="{{ url('home') }}" class="jandigIco"> {{ _('Back to home') }}</a>
    	</div>
        {# <div class="screenshot-container">
               <div class=screenshot-button onclick="takePicture()">
                    <a id=picture-link></a>
               </div>
        </div> #}
    </div>
</div>