<div class="ui-container">
    <div class="bottom-nav">
        {# <div class="screenshot-container">
               <div class=screenshot-button onclick="takePicture()">
                    <a id=picture-link></a>
               </div>
        </div> #}
    </div>
</div>