<section class="useful-links">
            <div class="container flex">
                <div class="contCam">
                    <div class="animCam">
                        <a href="{{ url('exhibit_select') }}" class="cambtn">{{ _('AR Viewer') }}</a>
                    </div>
                </div>
                <div class="">
                	<a href="https://github.com/memeLab/ARte">{{ _('Repository') }}</a>
                </div>
                <div class="">
                	<a href="{{ url('community') }}">{{ _('Get involved') }}</a>
                </div>
                <div class="">
                	<a href="{{ url('docs') }}">{{ _('Documentation') }}</a>
                </div>
            </div>
</section>