<section class="useful-links">
            <div class="container flex">
                <div class="contCam">
                    <div class="animCam">
                        <a href="{{ url('exhibit_select') }}" class="cambtn">{{ _('AR Viewer') }}</a>
                    </div>
                </div>
                <div class="">
                	<a href="{{ url('collection') }}">{{ _('Collection') }}</a>
                </div>
                {# <div class="">
                	<a href="{{ url('profile') }}">{{ _('My Stuff') }}</a>   
                </div> #}
                <div class="">
                	<a href="{{ url('community') }}">{{ _('About Us') }}</a>
                </div>

            </div>
</section>