<section class="useful-links">
            <div class="container flex">
                <a href="{{ url('exhibit_select') }}">{{ _('AR Viewer') }}</a>
                <a href="https://github.com/memeLab/ARte">{{ _('Repository') }}</a>
                <a href="{{ url('community') }}">{{ _('Get involved') }}</a>
                <a href="{{ url('docs') }}">{{ _('Documentation') }}</a>
            </div>
</section>