{% extends '/core/home.jinja2' %}


{% block content %}
    {% block page_title %}
        <h2>{{ post.title }}</h2>
    {% endblock page_title %}
    <small>
        {{ post.created }} | Categories:
        {% for category in post.categories.all() %}
            <a href="{{ url('blog_category',args=[category.name])}}">
                {{ category.name }}
            </a>
        {% endfor %}
    </small>
    <p>{{ post.body }}</p>
{% endblock %}