{% extends '/core/home.jinja2' %}

{% block extra_css %}
        <link rel="stylesheet" href="{{ static('css/blog.css') }}">
{% endblock %}

{% block content %}
    <div id="blog-area">
        {% block page_title %}
            <h2>{{ _("Blog Posts") }}</h2>
        {% endblock page_title %}
        <div id="posts-area">
        {% for post in posts %}
            <div class="post">
                <h3><a href="{{ url('blog_detail', args=[post.pk])}}">{{ post.title }}</a></h3>
                <small>
                    {{ post.created.date() }} 
                    {% if post.categories.count() > 0 %}
                    | {{ _("Categories:") }}
                        {% for category in post.categories.all() %}
                            <a href="{{ url('blog_category', args=[category.name])}}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    {% endif%}
                </small>
                <p>{{ post.body[:PREVIEW_SIZE]}}... <a href="{{ url('blog_detail', args=[post.pk])}}">{{ _("Read More") }}</a></p>
                
            </div>
        {% endfor %}

        </div>
    </div>
{% endblock %}