{% extends 'core/home.jinja2' %}

{% block content %}
    <section class="text-content">
        <div class="container">
            <h1>Jandig</h1>
            <blockquote>{{ _("An art experiment for digital exhibitions in physical spaces.") }}</blockquote>

            <p>{{ _("Cell phones and tablets are used to read markers and thus open “windows” where other art objects can be found. The public is invited to transcend the exhibition space, taking stickers with markers to be used in other locations, creating Temporary Autonomous Zones (TAZes). The public becomes co-authors, and markers and digital works are reconfigured across spaces.") }}</p>

            <div class="fill">
                <h2>{{ _("Know More") }}</h2>

                <p>{{ _("The Jandig project is an investigation into the intervention of markers to visualize works through augmented reality in urban space. This is a collaborative digital art project that proposes the creation of Temporary Autonomous Zones (TAZes) in each space in which it is installed. These TAZes are formed through markers spread across a space by artists and the public - who thus become co-creators of that experience. Users interact with markers, using mobile devices to open windows in the real world to view digital creations (provided under a Creative Commons license)") }}</p>
            </div>

            <div class="left">
                <h3>{{ _("Our Goals") }}</h3>

                <p>{{ _("The Jandig platform makes it possible to hold exhibitions using augmented reality.") }}</p>

                <p>{{ _("Each exhibition is made from the arrangement of different markers, which use stickers, stencil images, stamps, or others as support, in different sizes. These supports are also given to the public who circulate through the space, so that they can make local interference and make it possible to “go viral” with the markers while the exhibition is available, leaving traces and providing interactions between participants/visitors.") }}</p>

                <p>{{ _("To see through the “windows” and see what the fabulous images reveal, the public must point their devices at the markers, so that the Jandig platform viewer can read them and show the content in augmented reality.") }}</p>

                <p>{{ _("The edges are the graphic elements that trigger the recognition of the object associated with each marker. For this reason, you should not cover them and they should always be seen completely by the camera. Placing your finger on one of the edges or bringing the camera too close to the marker makes recognition impossible, for example. This characteristic must always be taken into consideration when producing and applying markers.") }}</p>
            </div>
        </div>
    </section>
{% endblock %}
