{% extends 'core/home.jinja2' %}

{% block community %}
    <section class="text-content">
        <div class="container">
            <h1>Jandig</h1>
            <blockquote>{{_("An art experimentation for digital exhibitions in physical spaces.")}}</blockquote>

            <p>{{_("Cell phones and tablets are used to read markers and thus open “windows” where other art objects can be found. The public is invited to transcend the exhibition space, taking stickers with markers to be pasted in other places, creating Temporary Autonomous Zones (TAZes). The public becomes a co-author, and markers and digital works are reconfigured by spaces.")}}</p>

            <div class="fill">
                <h2>{{_("Understand")}}</h2>

                <p>{{_(The Jandig project is an investigation into the intervention of markers for viewing works through augmented reality on urban space. It is a collaborative digital art project that proposes the creation of Temporary Autonomous Zones (TAZes) in each space where it is installed. These TAZes are formed through markers spread across a space by artists and the public – who thus become co-creators of that experience. Users interact with markers, using mobile devices to open real-world windows to view digital creations (assigned under Creative Commons license).")}}</p>
            </div>

            <div class="left">
                <h3>{{_("Our goals")}}</h3>

                <p>{{_("The Jandig platform makes exhibitions possible using augmented reality.")}}</p>

                <p>{{_(Each exhibition is made from the arrangement of several markers, which use adhesives, stencil images, stamps, or others, in different sizes as support. These supports are also delivered to the public that circulate through the space, so that they can make local interference and that it is possible to “viralize” the markers while the exhibition is available, leaving traces and providing interactions between participants/visitors.")}}</p>

                <p>{{_("Each exhibition is made from the arrangement of several markers, which use adhesives, stencil images, stamps, or others, in different sizes as support. These supports are also given to the public who circulate through the space, so that they can make local interference and that it is possible to “viralize” the markers while the exhibition is available, letting To see through the “windows” and see the fabulous images what they reveal, the public should point their devices at the markers, so that the Jandig platform viewer can read them and show the content in augmented reality. fabulous images what they reveal, the public should point their devices at the markers, so that the Jandig platform viewer can read them and show the content in augmented reality.")}}</p>

                <p>{{_("Borders are the graphic elements that trigger the recognition of the object associated with each marker. For this reason, they should not be covered and they should always be seen completely by the camera. Placing your finger on one of the edges or bringing the camera too close to the marker makes recognition impossible, for example. This characteristic must always be taken into account in the production and application of markers.")}}</p>
            </div>
        </div>
    </section>
{% endblock %}