{% extends '/core/home.jinja2' %}

{% block content %}
    <iframe id="documentation" src="" width="640" height="500" style="margin:0 auto 20px;border: none;"></iframe>
    <script>
        $("#documentation").each(function(i,iframe){
            site_url = window.location.protocol + "//" + window.location.host + "/"
            iframe.src = site_url + "docs/index.html"
        })
    </script>

{% endblock %}