{% extends '/core/arviewer.jinja2' %}

{% block content %}
    {# FIXME: maybe this can be improved #}
    <link rel="stylesheet" href="{{ static ('css/signup.css') }}">
    <link rel="stylesheet" href="{{ static ('css/exhibit-detail.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="signup-modal container flex">
        <div class="logo">
            <a href="{{ url('home') }}">
                    <img src="{{ static ('images/icons/header_icon.png') }}">
            </a>
        </div>

        <div class="exhibit-form">
            <h2>{{_("Choose the Exhibition you're seeing")}}</h2>
            <div class="search-area">
                <input type="text" id="search-box" name="search" onkeyup="findExhibit()" autocomplete="off" />
            </div>
            <form name="exhibit-form" action="{{url('exhibit_select')}}" method="post">
                {{ csrf_input }}
                {% for field in form.visible_fields() %}
                    <p class="exhibit-field {{field.name}}">
                        {{ field }}
                        {{ field.errors }}
                    </p>
                {% endfor %}
                <input class="submit-btn" type="submit" value="{{ _('Submit') }}"/>
            </form>
        </div>
    </div>
    <script>
        let field = document.getElementById('id_exhibit');
        field.style="padding: 0";

        function findExhibit() {
            let field = document.getElementById('id_exhibit').options;
            let searchValue = document.getElementById("search-box").value;
            for (keys in field) {
                if (field[keys].innerHTML !== undefined) {
                    let valueField = field[keys].innerHTML
                    if (valueField.toUpperCase().indexOf(searchValue.toUpperCase()) > -1 && searchValue != "") {
                        field[keys].selected = "selected";
                    } else {
                        field[keys].selected = "";
                    }
                }
            }
        }

        $('#id_exhibit').on('change',function(e){
            if($(this).prop('value') != ''){
                $('input[type="submit"]').prop('disabled', false);
            }else{
                $('input[type="submit"]').prop('disabled', true);
            }
        });
        $('#id_exhibit').on('load',function(e){
            if($(this).prop('value') != ''){
                $('input[type="submit"]').prop('disabled', false);
            }else{
                $('input[type="submit"]').prop('disabled', true);
            }
        });
    </script>
{% endblock %}