{% extends '/core/home.jinja2' %}


{% block content %}
    <section class="create-exhibit">
        {# FIXME: maybe this can be improved #}
        <link rel="stylesheet" href="{{ static ('css/marker-creation.css') }}">
        <link rel="stylesheet" href="{{ static ('css/label.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <div class="container">
            {% if edit %}
                <h1 class="titExb">{{ _('Edit Jandig Exhibition') }}</h1>
            {% else %}
                <h1 class="titExb">{{ _('Create Jandig Exhibition') }}</h1>
            {% endif %}
    
            <form name="creation-form" action="" method="post" enctype="multipart/form-data">
                {{ csrf_input }}
                <h2>{{ _('About your Exhibit') }}</h2>
            
                <h3>{{ _('Exhibit Name') }}</h3>
                {{ form.visible_fields()[0] }}
                {{ form.visible_fields()[0].errors }}
                
                
                <h3>{{ _('Exhibit Link') }}</h3>
                <p class="gallery-title">{{ _('Your exhibit URL will look like this') }}</p>
                <div style="display: flex; width: 100%">
                    <label class="url-helper">https://jandig.app/</label>
                    <p id="exhibit-slug-field" style="float: right; width: 65%">
                        {{ form.visible_fields()[1] }}
                            
                    </p>
                </div>
                {{ form.visible_fields()[1].errors }}
                
                <h2>{{ _('Select the content') }}</h2>
                <button id="select-artworks" class="select-btn" type="button">
                    {{ _('Select Artworks') }}
                </button>
                {{ form.visible_fields()[2].as_hidden() }}
                {{ form.visible_fields()[2].errors }}

                <button id="select-objects" class="select-btn" type="button">
                    {{ _('Select Objects') }}
                </button>
                {{ form.visible_fields()[3].as_hidden() }}
                {{ form.visible_fields()[3].errors }}

                <div id="form-modal" class="modal">
                    <div id="artwork-modal" class="tab">
                        <h4 class="modal-title">{{ _('Select Artworks') }}</h4>

                        {% with repository_list = artworks, element_type="artwork", selected=selected_artworks %}
                            {% if repository_list|length > 0 %}
                                <p class="gallery-title">{{ _('Choose from your repository') }}</p>
                            {% else %}
                                <section id="repo-{{element_type}}" class="repository-list">
                                    <p>{{_("You have no Artworks. :c")}}</p>
                                    <a href="{{ url('create-artwork') }}" class="button">
                                        {{ _('Create one') }}
                                    </a>
                                </section>
                            {% endif %}
                            {% with repository_list = artworks, element_type="artwork", htmx="false"%}
                                {% include "core/components/item-list.jinja2" %}
                            {% endwith %}
                        {% endwith %}

                        <a type="button" type="button" href="#close-modal" rel="modal:close" class="button select-btn next-btn" onclick="validateSubmit()">
                            {{ _('Okay') }}
                        </a>
                    </div>
                    <div id="object-modal" class="tab">
                        <h4 class="modal-title">{{ _('Select Objects') }}</h4>
                        <div id="navigation-buttons" style="display: flex; justify-content: space-between; margin-bottom: 15px;">
                            <button style="width:2.5em; font-size: larger; margin:0" id="previous-button" hx-get="/elements/" hx-vals='js:{page: get_page(-1), element_type: "object"}' hx-target="#repo-object" hx-swap="outerHTML"> < </button>
                            <button style="width:2.5em; font-size: larger; margin:0" id="next-button" hx-get="/elements/" hx-vals='js:{page: get_page(1), element_type: "object"}' hx-target="#repo-object" hx-swap="outerHTML"> > </button>
                        </div>

                        {% with repository_list = objects, element_type="object", htmx="false"%}
                            {% include "core/components/item-list.jinja2" %}
                        {% endwith %}

                        <a type="button" type="button" href="#close-modal" rel="modal:close" class="button select-btn next-btn" onclick="validateSubmit()">
                            {{ _('Okay') }}
                        </a>
                    </div>
                </div>

                <h2>{{ _('Publish the content') }}</h2>
                {{ form.non_field_errors() }}
                {% if edit %}
                    <input class="select-btn next-btn" type="submit" value="{{ _('Edit Exhibit') }}"/>
                {% else %}
                    <input class="select-btn next-btn" type="submit" value="{{ _('Publish Exhibit') }}"/>
                {% endif %}
            </form>
        </div>
        <script>
        page = 1;
        get_page(0);
        function get_page(increment) {
            actual_page = page + increment;
            if (actual_page < 1) {
                actual_page = 1;
            }
            page = actual_page;
            previous_button = document.getElementById("previous-button");
            next_button = document.getElementById("next-button");
            if (page == 1) {
                previous_button.disabled = true;
            }else {
                previous_button.disabled = false;
            }
            if (page == {{total_pages}}) {
                next_button.disabled = true;
            }else {
                next_button.disabled = false;
            }

            return page
        }
        document.body.addEventListener("htmx:afterSwap", function(evt){
            update_selected_items();
            enable_selection();
        });
        // modal events
        $('#select-artworks').click(function(){
            currentTab = 0;
            $('#form-modal').modal({showClose: false});
            showTab(currentTab);
        })
        $('#select-objects').click(function(){
            currentTab = 1;
            $('#form-modal').modal({showClose: false});
            showTab(currentTab);
        })
        function showTab(tabNumber){
            let tabs = $('.tab');
            tabs.hide();
            $('#' + tabs[tabNumber].id).show();
        }
        // Validate submit button based on selected marker and object
        function validateSubmit() {
            let selected_artworks = $("#id_artworks");
            let selected_objects = $("#id_augmenteds");

            if(selected_objects[0].value.length > 0 || selected_artworks[0].value.length > 0){
                $('input[type="submit"]').prop('disabled', false);
            }else{
                $('input[type="submit"]').prop('disabled', true);
            }
        }
        // On modal close validate submit
        $('#form-modal').on($.modal.CLOSE, function(event) {
            validateSubmit();
        });
        // Initial validation
        validateSubmit();

        let artworks = {}
        let augmenteds = {}
        selected_artworks = "{{ selected_artworks|default('', true) }}";
        selected_objects = "{{ selected_objects|default('', true) }}";

        function update_selected_items(){
            selected_artworks.split(",").forEach(function(id){
                    artworks[id] = id
                    $("#artwork-"+id).css("border-bottom","3px solid #a6a6a6");
            });
            selected_objects.split(",").forEach(function(id){
                augmenteds[id] = id
                $("#object-"+id).css("border-bottom","3px solid #a6a6a6");
            });
        }
        update_selected_items();

        function isSelected(item) {
            return item.css('border-bottom-style') != "none";
        }
        function enable_selection(){
            $('.repository-item').click(function(){
            let item = $(this).attr('id');
            let item_type = item.split('-')[0];
            let item_id = item.split('-')[1];


            if(isSelected($(this))){
                $(this).css("border-bottom","none");
                if (item_type === "artwork")
                    delete artworks[item_id];
                else if (item_type === "object")
                    delete augmenteds[item_id];
                else
                    console.error("Unknown item type: " + item_type);
            }else{
                $(this).css("border-bottom","3px solid #a6a6a6");
                if (item_type === "artwork")
                    artworks[item_id] = item_id;
                else if (item_type === "object")
                    augmenteds[item_id] = item_id;
                else
                    console.error("Unknown item type: " + item_type);
            }

            let selected_artworks = Object.values(artworks).join(',');
            let selected_objects = Object.values(augmenteds).join(',');

            let artworks_input = $('#id_artworks');
            let objects_input = $('#id_augmenteds');
            
            artworks_input.val(selected_artworks);
            objects_input.val(selected_objects);
        });
        }
        enable_selection();
        
        </script>
    </section>
{% endblock %}