{% extends '/core/arviewer.jinja2' %}

{% block content %}
    {# FIXME: maybe this can be improved #}
    <link rel="stylesheet" href="{{ static ('css/signup.css') }}">
    <link rel="stylesheet" href="{{ static ('css/exhibit-detail.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="signup-modal container flex">
        <div class="logo">
            <a href="{{ url('home') }}">
                    <img src="{{ static ('images/icons/header_icon.png') }}">
            </a>
        </div>

        <div class="exhibit-form">
            <h2>{{_("Choose the Exhibition you're seeing")}}</h2>
            <form name="exhibit-form" action="{{url('exhibit_select')}}" method="post" autocomplete="off">
                {{ csrf_input }}
                {{form}}
                <input class="submit-btn" type="submit" value="{{ _('Submit') }}"/>
            </form>
        </div>
    </div>
    <script>
        let field = document.getElementById('id_exhibit');
        field.style="padding: 0";
        $('#id_exhibit').on('change',function(e){
            if($(this).prop('value') != ''){
                $('input[type="submit"]').prop('disabled', false);
            }else{
                $('input[type="submit"]').prop('disabled', true);
            }
        });
        $('#id_exhibit').on('load',function(e){
            if($(this).prop('value') != ''){
                $('input[type="submit"]').prop('disabled', false);
            }else{
                $('input[type="submit"]').prop('disabled', true);
            }
        });
    </script>
{% endblock %}