<section class="footer">
    <div class="container flex">
        <a href="{{ url('community') }}" class="useful">{{ _("About Us") }}</a>
        <div class="social flex">
            <a href="https://www.instagram.com/jandig.art/"
               class="instagram"
               target="_blank">{{ _("Jandig on Instagram") }}</a>
            <a href="https://twitter.com/JandigArt/" class="twitter" target="_blank">{{ _("Jandig on Twitter") }}</a>
            <a href="https://www.facebook.com/jandig.art/"
               class="facebook"
               target="_blank">{{ _("Jandig on Facebook") }}</a>
            <a href="https://github.com/memeLab/ARte/"
               class="sq-github"
               target="_blank">{{ _("Jandig on Github") }}</a>
            <a href="https://t.me/joinchat/HES_ShA6TMPP-aiHxH7thQ"
               class="telegram"
               target="_blank">{{ _("Jandig on Telegram") }}</a>
        </div>
    </div>
    <div class="container flex">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode"
           class="license"
           target="_blank">{{ _("Content under CC BY-SA 4.0 unless otherwise noted.") }}</a>
        <a href="http://memelab.com.br" class="memelab" target="_blank">memelab</a>
    </div>
</section>
