<section class="lang-modal">
    <div class="lang-modal-container">
        <h1 id="lang-modal-title">{{ _('Select your language') }}</h1>
        <div class="lang-modal-content">
            {# FIXME: maybe this can be improved #}
            <link rel="stylesheet" href="{{ static ('css/language-select-modal.css') }}">

            <form action="{{ url('set_language') }}" method="post">
                {{ csrf_input }}
                <ul class="lang-modal-list" style="list-style-type: none;">
                {% for language in LANGUAGES %}
                    <li>
                        <input id="radio-{{language[0]}}" name="language" type="radio" value="{{language[0]}}">
                        <label for="radio-{{language[0]}}">{{language[1]}}</label>
                    </li>
                {% endfor%}
                </ul>
                <input class="select-btn next-btn" type="submit" value="{{ _('Ok') }}"/>
            </form>
            <script>
                let selectedLanguage = {{request.LANGUAGE_CODE|tojson}};
                let radioBtnQuery = '#radio-' + selectedLanguage;
                $(radioBtnQuery).prop("checked", true);
            </script>
        </div>
    </div>
    <script>
        let langModal = document.querySelector(".lang-modal");
        let langTriggers = $(".trigger-lang-modal");

        function toggleLangModal() {
            langModal.classList.toggle("show-lang-modal");
        }

        function windowOnClick(event) {
            if (event.target === langModal) {
                toggleLangModal();
            }
        }

        langTriggers.click(toggleLangModal);
        window.addEventListener("click", windowOnClick);
    </script>
</section>