<!DOCTYPE html>
<html>
   <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {# <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.5/dist/mindar-image.prod.js"></script> #}
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.5/dist/mindar-image-aframe.prod.js"></script>
  </head>
  <body>
    <a-scene mindar-image="imageTargetSrc: http://localhost:9000/jandig-cdn/media/public/patts/glenda2-scale5.mind;" vr-mode-ui="enabled: true" device-orientation-permission-ui="enabled: false">
      <a-assets>
        <video id="gif-video" src="http://localhost:9000/jandig-cdn/media/public/objects/temaki.webm" autoplay loop="true" crossorigin="anonymous"></video>
      </a-assets>
      <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>
      <a-entity mindar-image="warmupTolerance: 1; filterMinCF:0.1; filterBeta: 10" mindar-image-target="targetIndex: 0">
        <a-plane
          position="0 0 0"
          rotation="-90 0 0"
          width="1"
          height="1"
          material="src: #gif-video; transparent: true;"
        ></a-plane>
      </a-entity>
    </a-scene>
  </body>
</html>