{% extends '/core/home.jinja2' %}


{% block content %}
    <section class="create-artwork container">
        <link rel="stylesheet" href="{{ static('css/warning.css') }}">
        {# FIXME: maybe this can be improved #}
        <link rel="stylesheet" href="{{ static ('css/artwork-positioning.css') }}">
        <link rel="stylesheet" href="{{ static('css/marker-creation.css') }}">
        <link rel="stylesheet" href="{{ static('css/tooltip.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

        <h1 class="titArt">{{ _('Edit Jandig Artwork') if selected_marker else _('Create Jandig Artwork')}}</h1>
        
        <form name="creation-form" action="" method="post" enctype="multipart/form-data">
            {{ csrf_input }}
            <div id="artwork-data">
                <h2>{{ _('About your artwork') }}</h3>
                <p class="upload-field">
                    {{ form.visible_fields()[0] }}
                    {{ form.visible_fields()[0].errors }}
                </p>
                <p class="upload-field">
                    {{ form.visible_fields()[1] }}
                    {{ form.visible_fields()[1].errors }}
                </p>
                
            </div>
            <h2>{{ _('Select the content') }}</h2>
            <button id="select-marker" class="select-btn" type="button">
                {{ _('Select Marker') }}
            </button>

            <input id="id_selected_marker" type="hidden" name="selected_marker" onchange="validateSubmit()" {% if selected_marker %} value="{{ selected_marker }}" {% endif %}>
            {{ form.hidden_fields()[0].errors }}
            
            <button id="select-object" class="select-btn" type="button">
                {{ _('Select Object') }}
            </button>

            <input id="id_selected_object" type="hidden" name="selected_object" onchange="validateSubmit()" {% if selected_object %} value="{{ selected_object }}" {% endif %}>
            {{ form.hidden_fields()[1].errors }}
        
            <div id="form-modal" class="modal">
                <div id="marker-modal" class="tab">
                    <h4 class="modal-title">{{ _('Select Marker') }}</h4>

                    {% with repository_list = marker_list, element_type = 'marker', selected=selected_marker, htmx="false" %}
                        {% include "core/components/repository-list.jinja2" %}
                    {% endwith %}

                    <a type="button" type="button" href="#close-modal" rel="modal:close" class="button select-btn next-btn" onclick="validateSubmit()">
                        {{ _('Okay') }}
                    </a>
                </div>
                <div id="object-modal" class="tab">
                    
                    <h4 class="modal-title">{{ _('Select Object') }}</h4>
                    
                    {% with repository_list = object_list, element_type = 'object', selected=selected_object%}
                        {% include "core/components/repository-list.jinja2" %}
                    {% endwith%}

                    <a type="button" type="button" href="#close-modal" rel="modal:close" class="button select-btn next-btn" onclick="validateSubmit()">
                            {{ _('Okay') }}
                    </a>
                </div>
            </div>        
            <h2>{{ _('Position the content') }}</h2>

            <div id="edit_object_attributes">

                <h3 id="scaleTitle">{{_("Adjust scale")}}
                <span
                    data-text="{{_('Scale should be adjusted relative to Marker size on the screen. A scale of 2 will render an Object twice the size of the Marker.')}}"
                    class="tooltip"
                >?</span>
                </h3>
                        
                {{ form.visible_fields()[2] }}
                {{ form.visible_fields()[2].errors }}
                <p>
                    <span class="slider-label" id="scale-value">{{ scale }}</span>
                </p>
                <h2 id="positionTitle">{{_("Adjust position")}}
                <span 
                    data-text="Position should be adjusted relative to the Marker's size on the screen. If horizontal position is 2, the center of the Object will be in a distance 2 times the size of its Marker's side to the right. If it's -1, it will be shown to the left."
                    class="tooltip"
                >?</span>
                </h2>

                {% with xposition=0, yposition=0 %}
                    {% include "core/components/object-position.jinja2" %}
                {% endwith %}
                    
                {{ form.hidden_fields()[2] }}
                {{ form.hidden_fields()[2].errors }}

            </div>
            <input class="select-btn next-btn" type="submit" value="{{ _('Edit Artwork') if selected_object else _('Publish artwork') }}" disabled="disabled" />
        </form>
        <script>
            var scale = document.getElementById("id_scale");
            var output = document.getElementById("scale-value");
            output.innerHTML = scale.value; // Display the default slider value

            scale.oninput = function() {
                output.innerHTML = this.value;
            }

            function showTab(tabNumber){
                let tabs = $('.tab');
                tabs.hide();
                $('#' + tabs[tabNumber].id).show();
            }

            function validateSubmit() {
                let selected_marker = $("#id_selected_marker");
                let selected_object = $("#id_selected_object");
                
                if(selected_object[0].value && selected_marker[0].value){
                    $('input[type="submit"]').prop('disabled', false);
                }else{
                    $('input[type="submit"]').prop('disabled', true);
                }
            }

            $('#select-marker').click(function(){
                $('#form-modal').modal({showClose: false});
                showTab(0);
            })

            $('#select-object').click(function(){
                $('#form-modal').modal({showClose: false})
                showTab(1);
            })

            validateSubmit();

        </script>
    </section>
{% endblock %}