body {
	background-image: url('../bg.png');
	background-size: 100vw;
	font-family: 'Istok Web', sans-serif;
	color: #FFF;
	font-weight: 400;
	font-size: 16px;
}
a, a:link, a:visited {
 font-weight: 700;
 color: #FFF;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;}

a:hover {

box-shadow: inset 0 -6px 0 #93e3e5;

}
h3 {
	font-weight: 400;
}
.icon {
	max-width: 20px;
}
.button {
	-webkit-box-shadow: 8px 7px 22px -6px rgba(0,0,0,0.31), 2px 8px 22px -6px rgba(0,95,147,0.29); 
	box-shadow: 8px 7px 22px -6px rgba(0,0,0,0.31), 2px 8px 22px -6px rgba(0,95,147,0.29);
	background: #FFFFFF;
	border-radius: none	;
	color: #000;
	padding:10px 20px 10px 20px;
	border: 0px solid #000;
	opacity: 0.8;
	font-size: 18px;
}

.button:hover {
	background: #93e3e5;
	cursor: pointer;
}

.row span {
	font-weight: 700;
}
#logo {
	text-align: center;
	background-image: url('../jandig.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	margin-top: 80px;
	width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8vh 4vw 5vh 4vw;
}


.column {
  flex-basis: 100%;
  padding: 30px 30px 0 30px;
  text-align: center;
}

.imgcol {
	width: 70%;
}
.footer {padding: 0 20% 0 20%;}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }

}
}
@media screen and (max-width: 600px) {
	.footer {padding: 0 0% 0 0%;}
.row  {padding: 0 0 0 0;
}
/*.row {
	display: flex;
	justify-content: space-between;
	padding: 50px;
}
.3column {
	  width: 32%;
	  margin: 40px;
}


@media (max-width: 400px) {
  .row {
    display: block;
    .3column {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}*/