<a href="{{ url('exhibit-detail') }}?id={{ exhibit.id }}">
    <h1 class="exhibit-name">{{ exhibit.name }}</h1>
</a>
<div>
    <div class="exhibit-elements flex">
        <p class="by">
            {{ _("Created by ") }}<b>{{ exhibit.owner.user.username }}</b>
        </p>
        <p class="exbDate">{{ exhibit.date }}</p>
        <div>
            {% if exhibit.exhibit_type == "AR" %}
                <p class="exhibit-about">
                    <a href="{{ url('exhibit-detail') }}?id={{ exhibit.id }}">{{ exhibit.artworks_count }} {{ _("Artwork(s)") }}</a>
                </p>
            {% elif exhibit.exhibit_type == "MR" %}
                <p class="exhibit-about">
                    <a href="{{ url('exhibit-detail') }}?id={{ exhibit.id }}">{{ exhibit.augmenteds_count }} {{ _("Object(s)") }}</a>
                </p>
                <p class="exhibit-about">
                    <a href="{{ url('exhibit-detail') }}?id={{ exhibit.id }}">{{ exhibit.sounds_count }} {{ _("Sound(s)") }}</a>
                </p>
            {% endif %}
        </div>
        <a href="/{{ exhibit.slug }}/" class="gotoExb">{{ _("See this Exhibition") }}</a>
        {% if editable %}
            {% set can_edit = true %}
            {% set can_delete = true %}
            {% with element=exhibit, element_type=exhibit.content_type(), has_preview=false, can_edit=can_edit, can_delete=can_delete, edit_reason="", delete_reason="" %}
                {% include "core/components/action-menu.jinja2" %}
            {% endwith %}
        {% endif %}
    </div>
</div>
