<div class="modal-container">
    <h1 id="modal-title">{{ marker.title }}</h1>
    <div class="modal-content">
        {% if go_back_url %}
            <div class="back-header">
                <a id="back" hx-get="{{ go_back_url }}" hx-target="#modal" hx-trigger="click">{{ _("< Go back") }}</a>
            </div>
        {% endif %}
        <p id="element-author">{{ "{} {}".format(_("Author:"),marker.author)}}</p>
        <p id="element-upload-info">
                    {{ "{} {}{} {}".format(_("Uploaded by"), marker.owner.user.username,_(", in"), marker.uploaded_at.strftime("%d/%m/%Y")) }}
        <p id="element-analytics">
            {{ marker.used_in_html_string() | safe }}
        </p>
            {{ marker.as_html()| safe }}
        <p id="download"> Download file:</p>
        <p id="element-download">
            <a id="png-download" href="{{ marker.source.url }}">{{ "{} ({}KB)".format(_("Download File"), marker.file_size)}}</a>
        </p>
    </div>
    <button onclick="document.querySelector('#modal').classList.toggle('show-modal');">
        {{ _("Close") }}
    </button>
</div>