<span class="item-title">{{ marker.title }}</span>
<img id="marker-img-{{ marker.id }}"
     title="{{ marker.title }}"
     src="{{ marker.thumb_img.url }}?v={{ marker.modified.timestamp() |int }}"
     height="128"
     width="128">
{% if editable %}
    {% set can_edit = not marker.is_used_by_other_user() %}
    {% set can_delete = not marker.in_use %}
    {% set edit_reason = _("This marker is used by other users and cannot be edited.") %}
    {% set delete_reason = _("This marker is used in artworks and cannot be deleted.") %}
    {% with element=marker, element_type="marker", has_preview=true, can_edit=can_edit, can_delete=can_delete, edit_reason=edit_reason, delete_reason=delete_reason %}
        {% include "core/components/action-menu.jinja2" %}
    {% endwith %}
{% endif %}
