<span class="item-title">{{ object.title }}</span>
{% if object.is_video %}
    <video autoplay
           loop
           muted
           id="object-media-{{ object.id }}"
           title="{{ object.title }}"
           src="{{ object.source.url }}"
           height="128"
           width="128">
    </video>
{% elif object.is_3d %}
    {% if object.thumbnail %}
        <img id="object-media-{{ object.id }}"
             title="{{ object.title }}"
             src="{{ object.thumbnail.url }}"
             height="128"
             width="128">
    {% else %}
        <img id="object-media-{{ object.id }}"
             title="{{ object.title }}"
             src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='128' height='128'><rect width='128' height='128' fill='%23ccc'/><text x='50%25' y='50%25' text-anchor='middle' dy='.3em' font-size='14' fill='%23666'>3D</text></svg>"
             height="128"
             width="128">
        {% endif %}
    {% else %}
        <img id="object-media-{{ object.id }}"
             title="{{ object.title }}"
             src="{{ object.source.url }}"
             height="128"
             width="128">
    {% endif %}
    {% if editable %}
        {% set can_edit = not object.is_used_by_other_user() %}
        {% set can_delete = not object.in_use %}
        {% set edit_reason = _("This object is used by other users and cannot be edited.") %}
        {% set delete_reason = _("This object is used in artworks and cannot be deleted.") %}
        {% with element=object, element_type="object", has_preview=false, can_edit=can_edit, can_delete=can_delete, edit_reason=edit_reason, delete_reason=delete_reason %}
            {% include "core/components/action-menu.jinja2" %}
        {% endwith %}
    {% endif %}
