<div class="modal-container">
    <div class="modal-content">
        <div id="modal-header">
            <button id="close-modal" onclick="document.querySelector('#modal').classList.toggle('show-modal');">x</button>
            {% if go_back_url %}
                    <button id="back-modal" hx-get="{{ go_back_url }}" hx-target="#modal" hx-trigger="click"><</button>
            {% endif %}
        </div>
        <h1 id="modal-title">{{ ar_object.title }}</h1>
        <p id="element-author">{{ "{} {}".format(_("Author:"),ar_object.author)}}</p>
        <p id="element-upload-info">
                    {{ "{} {}{} {}".format(_("Uploaded by"), ar_object.owner.user.username,_(", in"), ar_object.created.strftime("%d/%m/%Y")) }}
        <p id="element-analytics">
            {{ ar_object.used_in_html_string() | safe }}
        </p>
            {{ ar_object.as_html()| safe }}
        {% if ar_object.audio_description %}
        <br>
        <p>{{ _("Audio Description:") }}</p>
        <audio controls>
            <source src="{{ ar_object.audio_description.url }}" />
        </audio>
        {% endif %}
        <p id="element-download">
            <p id="download"> Download file:</p>
            <a id="png-download" href="{{ ar_object.source.url }}">{{ "{} ({}KB)".format(_("Download File"), ar_object.file_size)}}</a>
        </p>
    </div>
</div>