.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #03b595;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #03b595;
    cursor: pointer;
}

#Y-position-value, #X-position-value {
    color: #03b595;
    font-weight: bold;
}

#box-shadow-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
}

#box-shadow {
    width: 100px;
    height: 100px;
    background-color: #03b595;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-start;
}

.box {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    border: 1px solid black;
}

.object-color-box {
    background-color: #03b595;
}

.marker-color-box {
    background-color: #d3d3d3;
}