.userbox {
    margin-bottom: 20px;
    background: #f1f1f1;
    padding: 20px;
}

.countMrk, .countObj, .editProf {
    height: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.countMrk, .countObj {
    font-size: 0.75em;
    line-height: 1.75em;
    padding-left: 27px;
    text-align: left;
    flex-basis: calc(50% - 30px);
}

.countMrk {
    background: url('../images/icons/icoMrk.png') no-repeat center left;
    background-size: contain;
}

.countObj {
    background: url('../images/icons/icoObj.png') no-repeat center left;
    background-size: contain;
}

.bdgArt, .bdgCur {
    text-align: center;
    height: 50px;
    padding-top: 60px;
    line-height: 25px;
    font-size: 0.85em;
    margin-bottom: 0;
    white-space: nowrap;
}

.bdgArt {
    background: url('../images/icons/bdgArt.png') no-repeat;
    background-position: center top;
    background-size: auto;
}

.bdgCur {
    background: url('../images/icons/bdgCur.png') no-repeat;
    background-position: center top;
    background-size: auto;
}

.bdgArt.empty, .bdgCur.empty {
    background: url('../images/icons/icoEpt.png') no-repeat;
    background-position: center top;
    background-size: auto;
}

.profile-options-flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile-options-flex .option-link {
    line-height: 40px;
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.profile-options-flex .userbox .option-link {
    line-height: 20px;
    font-size: 0.85em;
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #03b595;
    background: #e1e1e1;
}


/**** Media Queries *****/
@media all and (min-width: 800px) {
    .countMrk, .countObj {
        flex-basis: calc(30% - 20px);
    }

    .countMrk, .countObj, .editProf {
        margin-bottom: 20px;
    }

    .bdgArt, .bdgCur {
        text-align: left;
        height: 50px;
        padding-left: 65px;
        padding-top: 0px;
        line-height: 25px;
        font-size: 0.85em;
        margin-bottom: 0;
        flex-basis: calc(50% - 70px);
        white-space: nowrap; 
    }

    .bdgArt,.bdgCur,.bdgArt.empty, .bdgCur.empty {
        background-position: left center;
        background-size: contain;
    }

    .profile-options-flex .userbox .option-link {
        text-align: right;
        color: #03b595;
        background: none;
    }
}
