{% extends '/core/home.jinja2' %}


{% block content %}
    <section class="create-exhibit">
        {# FIXME: maybe this can be improved #}
        <link rel="stylesheet" href="/static/css/marker-creation.css">
        <link rel="stylesheet" href="/static/css/label.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <div class="container">
            <h1 class="titExb">{{ _('Edit Jandig Exhibition') }}</h1>
            <button id="select-artworks" class="select-btn">
                {{ _('Select Artworks') }}
            </button>
        </div>
        <div id="form-modal" class="modal">
            <form name="creation-form" action="" method="post" enctype="multipart/form-data">
                {{ csrf_input }}
                <div id="marker-modal" class="tab">
                    <h4 class="modal-title">{{ _('Select Artworks (1/2)') }}</h4>

                    <p class="gallery-title">{{ _('Choose from your repository') }}</p>

                    {% with repository_list = artworks, element_type="artwork", selected=selected_artworks %}
                        {% include "users/components/artworks-list.jinja2" %}
                    {% endwith%}

                    <p id="artworks-selected">
                        {{ form.visible_fields()[2].as_hidden() }}
                        {{ form.visible_fields()[2].errors }}
                    </p>
                    <button type="button" id="next-info" class="select-btn next-btn">
                        {{ _('Next') }}
                    </button>
                </div>
                <div id="artwork-modal" class="tab">
                    <h4 class="modal-title">{{ _('Exhibit Information (2/2)') }}</h4>
                      <p class="upload-field" id="info-name-field">
                          {{ form.visible_fields()[0] }}
                          {{ form.visible_fields()[0].errors }}
                      </p>
                    <p class="gallery-title">{{ _('Your exhibit URL will look like this') }}</p>
                      <label class="url-helper">https://jandig.app/</label>
                        <p style="float: right; width: 65%">
                            {{ form.visible_fields()[1] }}
                            {{ form.visible_fields()[1].errors }}
                        </p>
                    <input class="select-btn next-btn" onclick="cleanSlug()" type="submit" value="{{ _('Edit Exhibit') }}"/>
                </div>
            </form>
        </div>
        <script>

            const MARKER_TAB = 0; 
            const ARTWORK_TAB = 1; 

            let currentTab = MARKER_TAB;
            function showTab(tabNumber){
                let tabs = $('.tab');
                
                tabs.hide();
                $('#' + tabs[tabNumber].id).show();
            }

            function validateTab(tab){
                if(tab == 'artworks'){
                    let artworks = $('#artworks-selected > input')[0];

                    if(artworks.textLength != 0){
                        return true;
                    }
                }
            }
            function activateNextButton(){
                if(validateTab('artworks')){
                    $('#next-info').prop('disabled', false);
                }else{
                    $('#next-info').prop('disabled', true);
                }
            }


            function cleanSlug() {
                var slug = document.getElementById('id_slug').value
                let validate = /^[a-zA-Z0-9_]*$/
                if(!slug.match(validate)) {
                    alert("Url " + slug + " can't contain spaces or special characters (i.e: :, /)");
                }
            }

            setInterval(activateNextButton, 100);
            // modal events
            $('#select-artworks').click(function(){
                currentTab = MARKER_TAB;
                $('#form-modal').modal({showClose: false});
                showTab(currentTab);
            })
            $('#next-info').click(function(){
                currentTab = ARTWORK_TAB;
                showTab(currentTab);
            })
        </script>
    </section>
{% endblock %}