{% extends '/core/arviewer.jinja2' %}

{% block content %}
    {# FIXME: maybe this can be improved #}
    <style>
        ul {
            list-style-type: none;
        }
    </style>
    <link rel="stylesheet" href="/static/css/signup.css">
    <div class="connect-modal container">
        <div class="logo">
            <a href="{{ url('home') }}">
                    <img src="/static/images/icons/header_icon.png">
            </a>
        </div>

        <div class="modal-container">
            <div class="modalMenu flex">
                <span>{{ _('Login to continue') }}</span>
                <a href="/users/signup">{{ _('Sign up') }}</a>
            </div>
            <div class="login-form">
                <form name="login-form" action="{{url('login')}}" method="post" enctype="multipart/form-data">
                    {{ csrf_input }}
                    {% for field in form.visible_fields() %}
                        <p class="login-field {{field.name}}">
                            {{ field }}
                        </p>
                        <h4 style="color:red">{{ field.errors }}</h4>
                    {% endfor%}
                    <div class="form-options">
                        <p>
                            <input type="checkbox" name="remember" value="1"> Remember me
                        </p>
                    </div>
                    <input class="submit-btn" type="submit" value="{{ _('Submit') }}"/>
                </form>
                <div class="modalMenu recover-password">
                    <a  href="{{url('recover')}}">{{ _('Recover password') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}