    {% block notwelcome %} 
    <section class="not-welcome-container">
        <div class="container">
            <h1 class="notWelcomeText">{{ _('You dont have permission to be here, please click on the button to go back.') }}</h1>
            <button type="button" onclick="redirect()"> {{_('Take me back to where I belong!')}}</button>
            <script>
            function redirect()
            {
               location.replace('https://jandig.app')
            }
            </script>
        </div>        
    </section>
    {% endblock notwelcome %}