{% extends '/core/home.jinja2' %}

{% block content %}
    {% block subcontent %}
    {% endblock %}
    <section class="profile-options-flex">
        <div class="container">

            {% include "users/components/userbox.jinja2" %}

            {# FIXME: maybe this can be improved #}
            <link rel="stylesheet" href="/static/css/profile.css">
            <link rel="stylesheet" href="/static/css/repository-list.css">

            {% if profile %}
                {% if button_enable == True %}
                    <h1 class="titExb">{{_("Your Exhibitions")}}</h1>
                {% else %}
                    <h1 class="titExb">{{_("Exhibitions")}}</h1>
                {% endif %}
                    {% if exhibits %}
                        {% with deletable=button_enable, editable=button_enable, repository_list = exhibits, element_type="exhibit"%}
                            {% include "users/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Exhibitions. :c")}}</p>
                            <a href="{{ url('create-exhibit') }}">{{ _('Create one') }}</a>
                        </section>
                    {% endif %}
                {% if button_enable == True %}
                    <h1 class="titArt">{{_("Your Artworks")}}</h1>
                {% else %}
                    <h1 class="titExb">{{_("Artworks")}}</h1>
                {% endif %}
                    {% if artworks %}
                        {% with preview=True, deletable=button_enable, editable=button_enable, repository_list = artworks, element_type="artwork" %}
                            {% include "users/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Artworks. :c")}}</p>
                            <a href="{{ url('create-artwork') }}">{{ _('Create one') }}</a>
                        </section>
                    {% endif %}
                {% if button_enable == True %}
                    <h1 class="titArt">{{_("Your Markers")}}</h1>
                {% else %}
                    <h1 class="titExb">{{_("Markers")}}</h1>
                {% endif %}
                    {% if markers %}
                        {% with deletable=button_enable, editable=button_enable, repository_list = markers, element_type="marker"%}
                            {% include "users/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Markers. :c")}}</p>
                            <a href="{{ url('marker-upload') }}">{{ _('Upload one') }}</a>
                        </section>
                    {% endif %}
                {% if button_enable == True %}
                    <h1 class="titArt">{{_("Your Objects")}}</h1>
                {% else %}
                    <h1 class="titExb">{{_("Objects")}}</h1>
                {% endif %}
                    {% if objects %}
                        {% with deletable=button_enable, editable=button_enable, repository_list = objects, element_type="object" %}
                            {% include "users/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no Objects. :c")}}</p>
                            <a href="{{ url('object-upload') }}">{{ _('Upload one') }}</a>
                        </section>
                    {% endif %}
                {% include "users/components/elements-modal.jinja2" %}
            {% endif %}

            {% include "users/components/createbox.jinja2" %}

        </div>
    </section>
{% endblock %}