{% extends '/core/home.jinja2' %}

{% block content %}
    {% block subcontent %}
    {% endblock %}
    <section class="profile-options-flex">
        <div class="container">

            {% include "users/components/userbox.jinja2" %}
            
            {# FIXME: maybe this can be improved #}
            <link rel="stylesheet" href="/static/css/profile.css">
            <link rel="stylesheet" href="/static/css/repository-list.css">

            {% if profile %}
                <h1 class="titExb">{{_("Your exhibitions")}}</h1>
                    {% if exhibits %}
                        {% with deletable=True, editable=True, repository_list = exhibits, element_type="exhibit"%}
                            {% include "users/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no exhibitions ")}}</p>
                            <a href="{{ url('create-exhibit') }}">{{ _('Create one') }}</a>
                        </section>
                    {% endif %}
                <h1 class="titArt">{{_("Your artworks")}}</h1>
                    {% if artworks %}
                        {% with deletable=True, editable=True, repository_list = artworks, element_type="artwork" %}
                            {% include "users/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no artworks ")}}</p>
                            <a href="{{ url('create-artwork') }}">{{ _('Create one') }}</a>
                        </section>               
                    {% endif %}
                <h1 class="titMrk">{{_("Your markers")}}</h1>
                    {% if markers %}
                        {% with deletable=True, repository_list = markers, element_type="marker"%}
                            {% include "users/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no markers ")}}</p>
                            <a href="{{ url('marker-upload') }}">{{ _('Upload one') }}</a>
                        </section>
                    {% endif %}
                <h1 class="titObj">{{_("Your objects")}}</h1>
                    {% if objects %}
                        {% with deletable=True, repository_list = objects, element_type="object" %}
                            {% include "users/components/item-list.jinja2" %}
                        {% endwith %}
                    {% else %}
                        <section id="repo-{{element_type}}" class="repository-list">
                            <p>{{_("You have no objects ")}}</p>
                            <a href="{{ url('object-upload') }}">{{ _('Upload one') }}</a>
                        </section>
                    {% endif %}
                {% include "users/components/elements-modal.jinja2" %}
            {% endif %}

            {% include "users/components/createbox.jinja2" %}

        </div>
    </section>
{% endblock %}