{% extends '/users/profile.jinja2' %}

{% block subcontent %}
<div class="container">
    <div class="password-form">
        <form name="password-form" action="{{url('edit-password')}}" method="post" enctype="multipart/form-data">
            {{ csrf_input }} 
            {% for field in form_password.visible_fields() %}
                <p class="password-field {{field.name}}">
                    {{ field }}
                    {{ field.errors }}
                </p>
            {% endfor%}
            <input class="submit-btn" type="submit" value="{{ _('Change Password') }}"/>
        </form>
    </div>
    <div class="profile-form">
        <form name="profile-form" action="{{url('edit-profile')}}" method="post" enctype="multipart/form-data">
            {{ csrf_input }}            
            {% for field in form_profile.visible_fields() %}
                <p class="profile-field {{field.name}}">
                    {{ field }}
                    {{ field.errors }}
                </p>
            {% endfor%}
            <input class="submit-btn" type="submit" value="{{ _('Submit') }}"/>
        </form>
    </div>
</div>
{% endblock %}