{% extends '/core/arviewer.jinja2' %}

{% block content %}
    <link rel="stylesheet" href="{{ static ('css/signup.css') }}">
    <div class="connect-modal container">
        <div class="logo">
            <a href="{{ url('home') }}">
                    <img src="{{ static ('images/icons/header_icon.png') }}">
            </a>
        </div>

        <div class="modal-container">
            <div class="modalMenu flex">
                <span>{{ _('Choose a new password and repeat it.') }}</span>
            </div>

            <div class="recover-password-form">
                <form name="recover-password-form" action="{{url('recover-edit-password')}}" method="post" enctype="multipart/form-data">
                    {{ csrf_input }}
                    {% for field in form.visible_fields() %}
                        <p class="recover-password-field {{field.name}}">
                            {{ field }}
                            {{ field.errors }}
                        </p>
                    {% endfor%}
                    <input class="submit-btn" type="submit" value="{{ _('Submit') }}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}