{% extends '/core/arviewer.jinja2' %}

{% block content %}
    {# FIXME: maybe this can be improved #}
    <link rel="stylesheet" href="/static/css/signup.css">

    <div class="signup-modal">
        <div class="flex">
            <a href="/users/signup">Sign up</a>
            <a href="/users/login">Log in</a>
        </div>
        <div class="signup-form">
            <form action="{{url('signup')}}" method="post" enctype="multipart/form-data">
                {{ csrf_input }}
                {% for field in form.visible_fields() %}
                    <p class="signup-field {{field.name}}">
                        {{ field }}
                        {{ field.errors }}
                    </p>
                {% endfor%}
                <div class="form-options">
                    <p>
                        <input type="checkbox" name="agreement" value="Yes"> Legal agreement
                    </p>
                    <p>
                        <input type="checkbox" name="remember" value="Yes"> Remember me
                    </p>
                </div>
                {# {{ form.as_p() }} #}
                <input class="submit-btn" type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}