{% extends '/core/arviewer.jinja2' %}

{% block content %}
    {# FIXME: maybe this can be improved #}
    <link rel="stylesheet" href="/static/css/signup.css">
    <div class="signup-modal">
        <div class="flex">
            <a href="/users/signup">{{ _('Sign up') }}</a>
            <a href="/users/login">{{ _('Log in') }}</a>
        </div>
        <div class="signup-form">
            <form name="signup-form" action="{{url('signup')}}" method="post" enctype="multipart/form-data">
                {{ csrf_input }}
                {% for field in form.visible_fields() %}
                    <p class="signup-field {{field.name}}">
                        {{ field }}
                        {{ field.errors }}
                    </p>
                {% endfor%}
                <div class="form-options">
                    <p>
                        <input id="agreement-chk" type="checkbox" name="agreement" value="1">
                        {{ _('Legal agreement') }}
                    </p>
                    <p>
                        <input type="checkbox" name="remember" value="1">
                        {{ _('Remember me') }}
                    </p>
                </div>
                <input class="submit-btn" type="submit" value="{{ _('Submit') }}" disabled="disabled"/>
            </form>
        </div>
    </div>
    <script>
        $('#agreement-chk').click(function(){
            if($(this).prop('checked') == true){
                $('input[type="submit"]').prop('disabled', false);
            }else{
                $('input[type="submit"]').prop('disabled', true);
            }
        });
    </script>
{% endblock %}