{% extends '/core/home.jinja2' %}

{% block content %}
    <section class="upload">
        {# FIXME: maybe this can be improved #}
        <link rel="stylesheet" href="/static/css/upload.css">

        <h2>{{ _('Upload ') }}  {{ form_type }}</h2>
        <section class="upload-form">
            <div class="container">
                <form name="upload-form" action="{{ url(route) }}" method="post" enctype="multipart/form-data">
                    {{ csrf_input }}
                    <p class="upload-field" id="source-field">
                    {%if route == 'object-upload' %}
                        <h3>Choose object</h3>
                    {% else %}
                        <blockquote>
                            No marker files yet? Don't fret! You can get them 
                            <a href="https://dev.jandig.app/generator/" target="_blank">here</a>.
                        </blockquote>
                        <h3>Choose marker image</h3>
                    {% endif %}
                        {{ form.visible_fields()[0] }}
                        {{ form.visible_fields()[0].errors }}
                    </p>
                    {% if form_type == 'marker' %}
                        <h3>Choose .patt file</h3>
                        <div class="upload-field" id="patt-field">
                            {{ form.visible_fields()[2] }}
                            {{ form.visible_fields()[2].errors }}
                        </div>
                    {% endif %}
                    <p class="form-options">
                        <input id="author-chk" type="checkbox" name="author" value="1">
                        {{ _("I'm this ") }} {{form_type}} {{ _(" author") }}
                    </p>
                    <p class="upload-field" id="author-field">
                        {{ form.visible_fields()[1] }}
                        {{ form.visible_fields()[1].errors }}
                    </p>
                    <div class="form-options">
                        <p>
                            <input id="agreement-chk" type="checkbox" name="agreement" value="1">
                            {{ _('I agree to have this content under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>') }}
                        </p>
                    </div>
                    <input class="submit-btn" type="submit" value="{{ _('Submit') }}" disabled="disabled"/>
                </form>
            </div>
        </section>
        <script>
            $('#agreement-chk').click(function(){
                if($(this).prop('checked') == true){
                    $('input[type="submit"]').prop('disabled', false);
                }else{
                    $('input[type="submit"]').prop('disabled', true);
                }
            });

            $('#author-chk').click(function(){
                if($(this).prop('checked') == true){
                    let user = $('div.welcome > p > a')[0].innerText;
                    console.log(user);
                    $('#author-field > input').val(user);
                    $('#author-field > input').prop('readonly', true);
                }else{
                    $('#author-field > input').prop('readonly', false);
                    $('#author-field > input').val("");
                }
            })
        </script>
    </section>
{% endblock %}