<section class="createbox flex">
    <h1>{{_("Come on! Create new content now!")}}</h1>
    <div class="upSound sm-full lg-full">
        <a class="option-link creSnd" href="{{ url('sound-upload') }}">{{ _('Upload Sound') }}</a>
    </div>
    <div class="upload sm-full flex">
        <div class="upMrk sm-half lg-full">
            <a class="option-link" href="{{ url('marker-upload') }}">{{ _('Upload Marker') }}</a>
        </div>
        <div class="upObj sm-half lg-full">
            <a class="option-link" href="{{ url('object-upload') }}">{{ _('Upload Object') }}</a>
        </div>
    </div>
    <div class="separator sm-full"></div>
    <div class="createArtwork sm-full lg-full">
        <a class="option-link creArt" href="{{ url('create-artwork') }}">{{ _('Create Jandig Artwork') }}</a>
    </div>
    <div class="createExhibition sm-full lg-full">
        <a class="option-link creExh" href="{{ url('create-ar-exhibit') }}">{{ _('Create AR Exhibition') }}</a>
    </div>
    <div class="createExhibition sm-full lg-full">
        <a class="option-link creExh" href="{{ url('create-mr-exhibit') }}">{{ _('Create MR Exhibition') }}</a>
    </div>
</section>