{# FIXME: maybe this can be improved #}
<link rel="stylesheet" href="{{ static ('css/elements-modal.css') }}">


{% if element_type == "exhibit"%}   
    <section id="repo-{{element_type}}" class="exhibit-list flex">
{% else %}
    <section id="repo-{{element_type}}" class="repository-list flex">
{% endif %} 
    {% for element in repository_list %}
        <div 
            {% if element_type != "exhibit" %} 
                hx-get="/api/v1/{{element_type}}s/{{element.id}}/?format=modal" 
                hx-target="#modal" 
                hx-trigger="click"
            {% endif %}
            id="{{ element_type }}-{{ element.id }}" class="repository-item">
                {{ element.as_html_thumbnail(editable=editable) | safe }}
        </div>
    {% endfor %}
</section>
