{# Receives a list of markers/objects to list #}

{% block content %}

        {% with repository_list = repository_list, element_type=element_type %}
            {% include "users/components/item-list.jinja2" %}
        {% endwith%}

        <script>
            {%if selected %}
                id = "#" + "{{element_type}}" + "-" + {{selected}}
                $('#existent-{{element_type}} > input').val({{selected}});
                $(id).css("border-bottom","3px solid #a6a6a6");
            {% endif %}
            $('.repository-item').click(function(){
                let elementId = $(this).attr('id');
                let sectionId = $(this).parent().attr('id');

                // reset background
                $(this).parent().children().css('border-bottom', 'none')
                $(this).css("border-bottom","3px solid #a6a6a6");

                if(sectionId == 'repo-marker'){
                    $('#existent-marker > input').val(elementId.split("-")[1]);
                }else{
                    $('#existent-object > input').val(elementId.split("-")[1]);
                }
            });
        </script>
{% endblock %}